{% for module in modules %}
    <div class="row-block">
        {% if module.right[0] and module.left[0] and module.center[0]%}
            <div>
                {{ module.left[0] }}
            </div>
            <div>
                {{ module.center[0] }}
            </div>
            <div>
                {{ module.right[0] }}
            </div>
        {% elseif module.left[0] %}
            {{ module.left[0] }}
        {% elseif module.center[0] %}
            {{ module.center[0] }}
        {% elseif module.right[0] %}
            {{ module.right[0] }}
        {% endif %}
    </div>
{% endfor %}