<footer>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3218.444729384831!2d24.04233174222973!3d49.87407639750787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473adcf82dbe479b%3A0x72f5f3d7c40014ba!2z0LLRg9C70LjRhtGPINCf0LvRg9Cz0L7QstCwLCA4LCDQm9GM0LLRltCyLCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDc5MDAw!5e1!3m2!1suk!2sua!4v1601902969852!5m2!1suk!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <div class="other_info">
    <p class="tile-footer">де нас шукати?</p>
    <p>м.Львів, вул.Плугова 8</p>
    <p class="tile-footer">графік роботи</p>
    <p >понеділок-п’ятниця </br> з 9:00 по 18:00</p>
    <p >субота-неділя </br> вихідні дні</p>
  </div>
  <div class="we_in_soc">
    <p class="tile-footer">ми в мережі</p>
    <div class="we_in_soc-item">
      <a style="background: #8074D6;" href="{{ viber }}">
        <img src="catalog/view/theme/default/image/viber.png">
      </a>
    </div>
    <div class="we_in_soc-item">
      <a style="background: #FF0000;" href="{{ youtube }}">
        <img src="catalog/view/theme/default/image/youtube.png">
      </a>
    </div>
    <div class="we_in_soc-item">
      <a style="background: #BD3381;" href="{{ instagram }}">
        <img src="catalog/view/theme/default/image/instagram.png">
      </a>
    </div>
    <div class="we_in_soc-item">
      <a style="background: #385898;" href="{{ facebook }}">
        <img src="catalog/view/theme/default/image/facebook.png">
      </a>
    </div>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>