<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/theme/default/stylesheet/layout.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<header>
  <div class="top-header-line">
    <div class="header-clouser"></div>
    <nav>
      <ul>
        <li>
          <a href="">фото та відгуки</a>
        </li>
        <li>
          <a href="">кредити</a>
        </li>
        <li>
          <a href="">корисно знати</a>
        </li>
        <li>
          <a href="/contacty">контакти</a>
        </li>
      </ul>
    </nav>
    <div class="search">
      <div class="search-enter">
        <img src="catalog/view/theme/default/image/Vector.png">
      </div>
      <input type="" name="" class="search-input">
      <div class="search-close"></div>
    </div>
    <div class="search-btn">
      <img src="catalog/view/theme/default/image/Vector.png">
    </div>
    <div class="soc-netw">
      <a href="{{ viber }}">
        <img src="catalog/view/theme/default/image/viber.png">
      </a>
      <a href="{{ youtube }}">
        <img style="margin-top: 5px" src="catalog/view/theme/default/image/youtube.png">
      </a>
      <a href="{{ instagram }}">
        <img src="catalog/view/theme/default/image/instagram.png">
      </a>
      <a href="{{ facebook }}">
        <img src="catalog/view/theme/default/image/facebook.png">
      </a>
    </div>
  </div>
  <div class="midle-header-line">
    <div class="block-logo">
      <a href="{{ home }}" class="logo"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
      <div class="main-name">
        <p class="main-p">ЕкономТепло</p>
        <p>кожен кіловат має значення</p>
      </div>
    </div>
    <div class="adress">
      <p class="main-p">м.Львів, вул. Плугова 8</p>
      <p>(р-н Лікарні швидкої допомоги)</p>
    </div>
    <div class="phone-num">
      <p>+38 (067) 100-12-74</p>
      <p>+38 (099) 100-12-74</p>
    </div>
  </div>
  <div class="bottom-header-line">
    <nav>
      {{ menu }}
    </nav>
    <p class="order_call">
      замовити дзвінок
    </p>
    <div class="call-header">
      <img src="catalog/view/theme/default/image/Vector (1).png">
    </div>
    <ul class="operations">
      <li>
        <a href="/privnannja">
          <img src="catalog/view/theme/default/image/comparison.png">
        </a>
      </li>
      <li>
        <a href="/koshyk">
          <img src="catalog/view/theme/default/image/shopping-cart.png">
        </a>
      </li>
      <li>
        <a href="/bagane">
          <img src="catalog/view/theme/default/image/like.png">
        </a>
      </li>
      <li>
        <a href="">
          <img src="catalog/view/theme/default/image/coin.png">
        </a>
      </li>
    </ul>
  </div>
  <div class="order_call-inputs sub-menu">
    <input type="" name="" placeholder="Ваше ім’я">
    <input type="" name="" placeholder="Номер Вашого мобільного">
    <button class="send-email-button">
      Замовити дзвінок
    </button>
  </div>
  <div class="carrencies-inputs">

    <button class="send-email-button">
      Замовити дзвінок
    </button>
  </div>
  {{ sub_menu }}
</header>
