{% if categories %}
  {% for category in categories %}
      {% if category.children %}
        <div class="under-menu" id="{% if category.category_id %}{{ category.category_id }}{% else %}{{category.post_category_id}}{% endif %}" type-block="{% if category.category_id %}category{% elseif category.post_category_id %}post{% endif %}">
          {% for children in category.children%}
              <a title="{{ children.name }}" class="menu-item" href="{{ children.href }}">
                  {% if children.image %}<img alt="{{ children.name }}" title="{{ children.name }}" src="image/{{ children.image }}"> {% endif %}
                  <p>{{ children.name }}</p>
              </a>
          {% endfor %}
        </div>
    {% endif %}
  {% endfor %}
{% endif %}

<script>
    $(document).on('click', 'li.menu-item', function (){
        let category_id = $(this).attr('category_id') == undefined ? $(this).attr('post_category_id') : $(this).attr('category_id');
        let type_block = $(this).attr('category_id') == undefined ? 'post' : 'category';
        if($('#' + category_id + '.under-menu[type-block=' + type_block + ']').length > 0) {
            if ($(this).find('#' + category_id + '.under-menu[type-block=' + type_block + ']').length == 0) {
                $('#' + category_id + '.under-menu[type-block=' + type_block + ']').appendTo($(this));
            }else if ($('#' + category_id + '.under-menu[type-block=' + type_block + ']').css('display') == 'none') {
                $('#' + category_id + '.under-menu[type-block=' + type_block + ']').css('display', 'flex');
            }else{
                $('#' + category_id + '.under-menu[type-block=' + type_block + ']').css('display', 'none');
            }
            return false;
        }
    })
</script>