<div class="swiper-viewport">
    <div id="banner{{ module }}" class="swiper-container">
        <div class="swiper-wrapper">{% for banner in banners %}
                <div class="swiper-slide">
                    {% if banner.image %}
                        {% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}"
                                                                             alt="{{ banner.title }}"
                                                                             class="img-responsive"/>
                            </a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}"
                                               class="img-responsive" />{% endif %}
                    {% elseif banner.html %}
                        {{ banner.html }}
                    {% endif %}
                </div>
            {% endfor %}</div>
    </div>
</div>
<script type="text/javascript"><!--
    $('#banner{{ module }}').swiper({
        // Default parameters
        slidesPerView: 4,
        spaceBetween: 10,
        autoplay: 2500,
        autoplayDisableOnInteraction: false,

        // Responsive breakpoints
        breakpoints: {
            // when window width is >= 320px
            320: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            // when window width is >= 480px
            480: {
                slidesPerView: 3,
                spaceBetween: 30
            },
            // when window width is >= 640px
            640: {
                slidesPerView: 4,
                spaceBetween: 40
            }
        }
    });
    --></script>