<div class="catalog_banner">
    {% for banner in banners %}
        <div style="width: {{ width }}px; height: {{ height }}px">
            {% if banner.image %}
                {% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}"
                                                                     alt="{{ banner.title }}"
                                                                     class="img-responsive"/>
                    </a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}"
                                       class="img-responsive" />{% endif %}
            {% elseif banner.html %}
                {{ banner.html }}
            {% endif %}
        </div>
    {% endfor %}
</div>