<h2 class="catalog-title">{{ heading_title }}</h2>
<div class="catalog">
    {% for category in categories %}
        {% if category.children or category.top != 1 %}
            <div class="catalog-item">
                <div class="catalog-item-inside">
                    <div>
                        <p>{{ category.name }}</p>

                        <img src="/catalog/view/theme/default/image/tverdopalyvni-kotly 1.png">
                    </div>
                    {% if category.children %}
                        <ul>
                            {% for child in category.children %}
                                {% if child.category_id == child_id %}
                                    <li><a href="{{ child.href }}"
                                           class="list-group-item active">{#&nbsp;&nbsp;&nbsp;#}- {{ child.name }}</a></li>
                                {% else %}
                                    <li><a href="{{ child.href }}"
                                           class="list-group-item">{#&nbsp;&nbsp;&nbsp;#}- {{ child.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <span class="add ">
                <div class="plus">
                    <span></span>
                    <span></span>
                </div>
            </span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script>
    $(document).on('click', '.catalog-item .add', function () {
        let ul = $(this).parent().find('ul');
        if (ul.hasClass('expand-block')) {
            ul.removeClass('expand-block')
            $(this).find('.plus span:nth-child(1)').css('transform', 'rotate(90deg)')
            $(this).parent().css('z-index', 'unset');
        } else {
            ul.addClass('expand-block')
            $(this).find('.plus span:nth-child(1)').css('transform', 'none')
            $(this).parent().css('z-index', '20');
        }
    })
</script>