<h2 class="catalog-title">{{ heading_title }}</h2>

{% if preview_block_type == 1 %}
    <div class="swiper-viewport {{ addition_classes }}">
        <div id="front-review{{ module }}" class="swiper-container">
            <div class="swiper-wrapper">
                {% for banner in banners %}
                    <div class="swiper-slide text-center">
                        <div class="reviews">
                            <div class="review">
                                <div class="text">
                                    <p class="main-p">
                                        {{ banner.title }}
                                    </p>
                                    <p>
                                        {{ banner.html }}
                                    </p>
                                    <p class="big-p">
                                        {{ banner.author }}
                                    </p>
                                </div>
                                <div class="stars">
                                    {% for i in 1..5 %}
                                        {% if banner.rating >= i %} <img src="images/star.png"> {% endif %}
                                    {% endfor %}
                                </div>
                                <img class="review-img" src="{{ banner.image }}">
                            </div>
                        </div>
                    </div>
                {% endfor %} </div>
        </div>
        <div class="swiper-pagination slideshow{{ module }}"></div>
        <div class="swiper-pager slider-cntrl slider-realized-oper review-action-block">
            <div class="arrow arrow-left"><img src="images/arrow-pointing-to-right.png"></div>
            <div class="arrow arrow-right"><img src="images/arrow-pointing-to-right.png"></div>
        </div>
    </div>


    <script type="text/javascript"><!--
        $('#front-review{{ module }}').swiper({
            mode: 'horizontal',
            slidesPerView: 1,
            pagination: '.slideshow{{ module }}',
            paginationClickable: true,
            nextButton: '.arrow-left',
            prevButton: '.arrow-right',
            spaceBetween: 30,
            autoplay: 2500,
            autoplayDisableOnInteraction: true,
            loop: true
        });
        --></script>
{% elseif preview_block_type == 2%}
    {% if post_type == 0 %}
        <div class="review-3">
            {% for banner in banners %}
            <div class="review-2">
                <div class="info">
                    <p class="name">
                        {{banner.author}}
                    </p>
                    <p class="product">
                        Товар:
                        <a href="{{ banner.link }}">
                            {{banner.title}}
                        </a>
                    </p>
                    <div class="coment">
                        <p class="main-p">
                            Коментарі
                        </p>
                        {{ banner.html }}
                    </div>
                    <div class="plus">
                        <p class="main-p">
                            Переваги
                        </p>
                        {{ banner.positive_review }}
                    </div>
                    <div class="minus">
                        <p class="main-p">
                            Недоліки
                        </p>
                        {{ banner.negative_review }}
                    </div>
                    <div class="func">
                        <div>
                            {% if banner.rating %}
                                {% for i in 1..banner.rating %}
                                    <img src="images/Vector (8).png">
                                {% endfor %}
                            {% endif %}
                            {% if banner.rating < 5 %}
                                {% for i in 1..5-banner.rating %}
                                    <img src="images/Vector (9).png">
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="action-outside">
                    <div class="action">
                        <div class="img">
                            <a href="{{ banner.link }}"><img src="{{ banner.image }}"></a>
                        </div>
                        <p>
                            {{ banner.title }}
                        </p>
                        <div class="price">
							<span {% if banner.special_price %}class="old-price"{% endif %}>
								{{ banner.price }} ₴
							</span>
                            {% if banner.special_price %}
                                <span class="new-price">
                                    {{ banner.special_price}} ₴
                                </span>
                            {% endif %}
                        </div>
                        <div class="action-btns">
                            <div class="action-btn">
                                <img src="images/comparison.png">
                            </div>
                            <div class="action-btn">
                                <img src="images/shopping-cart.png">
                            </div>
                            <div class="action-btn">
                                <img src="images/like.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    {% else %}
        <div class="last-works">
            {% for job in post_list %}
                {% include 'block_later_job.twig' with job %}
            {% endfor %}</div>
        </div>
    {% endif %}
{% endif %}