<h2 class="catalog-title">{{ heading_title }}</h2>
{#    {% if preview_block_type == 1 %}#}
        <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/page4.css">

        <div class="swiper-viewport photo{{ addition_classes }}">
            <div id="slideshow{{ module }}" class="swiper-container">
                <div class="swiper-wrapper">
                    {% for banner in banners %}
                        <div class="swiper-slide text-center">

                            <div class="top-slider">

                                <p class="slider-big-p">
                                    твердопаливні котли
                                </p>
                                <p class="slider-main-p">
                                    candle
                                </p>
                                <a href="" class="learn-more">
                                    дізнатись більше
                                </a>
                                <div class="ph-num">
                                    <a href="" class="learn-more">
                                        +38 (0_ _) _ _ _ - _ _ - _ _
                                    </a>
                                    <a href="" class="learn-more">
                                        зателефонуйте мені
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %} </div>
            </div>
            <div class="swiper-pagination slideshow{{ module }}"></div>
            <div class="swiper-pager slider-realized-oper">
                <div class="arrow arrow-left"><img src="images/arrow-pointing-to-right.png"></div>
                <div class="arrow arrow-right"><img src="images/arrow-pointing-to-right.png"></div>
            </div>
        </div>


        <script type="text/javascript"><!--
            $('#slideshow{{ module }}').swiper({
                mode: 'horizontal',
                slidesPerView: 1,
                pagination: '.slideshow{{ module }}',
                paginationClickable: true,
                nextButton: '.arrow-left',
                prevButton: '.arrow-right',
                spaceBetween: 30,
                autoplay: 2500,
                autoplayDisableOnInteraction: true,
                loop: true
            });
            --></script>
    {% elseif preview_block_type == 2 %}
    <div class="last-works">
        {% for job in post_list %}
            {% include 'block_later_job.twig' with job %}
        {% endfor %}</div>
    </div>
{% endif %}
</div>