{% if post_list %}
    <h2 class="catalog-title">{{ heading_title }}</h2>

    {% if preview_block_type == 1 %}
        <div class="swiper-viewport post-preview {{ addition_classes }}">
            <div id="slideshow{{ module }}" class="swiper-container">
                <div class="swiper-wrapper">
                    {% for post in post_list %}
                        <div class="swiper-slide text-center">
                            <div class="reviews">
                                <div class="review">
                                    {% include 'block_later_job.twig' with post %}
                                </div>
                            </div>
                        </div>
                    {% endfor %} </div>
            </div>
            <div class="swiper-pagination slideshow{{ module }}"></div>
            <div class="swiper-pager slider-cntrl slider-realized-oper review-action-block">
                <div class="arrow arrow-left"><img src="images/arrow-pointing-to-right.png"></div>
                <div class="arrow arrow-right"><img src="images/arrow-pointing-to-right.png"></div>
            </div>
        </div>


        <script type="text/javascript"><!--
            let countPerView = Math.floor(window.screen.width / 310);
            $('#slideshow{{ module }}').swiper({
                mode: 'horizontal',
                slidesPerView:  3,
                pagination: '.slideshow{{ module }}',
                paginationClickable: true,
                nextButton: '.arrow-left',
                prevButton: '.arrow-right',
                spaceBetween: 30,
                autoplay: 2500,
                autoplayDisableOnInteraction: true,
                loop: true
            });

            --></script>
    {% elseif preview_block_type == 2 %}
        <div class="last-works">
            {% for job in post_list %}
                {% include 'block_later_job.twig' with job %}
            {% endfor %}</div>
        </div>
    {% endif %}
{% endif %}