{% if products.hide_action == true %}
    {% include 'product_list.twig' with products %}
{% else %}
    <div class="sorting">
        <div class="sorting-item">
            <p>сортування:</p>
            <select class="select-sorting" id="input-sort">
                {% for sort_type in sort_types %}
                    <option {% if sort_type.selected %} selected {% endif %}
                            value="{{ sort_type.url }}">{{ sort_type.sort_title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="sorting-item">
            <p>на сторінці:</p>
            <select class="select-sorting" id="input-limit">
                {% for limit_type in limits %}
                    <option {% if limit_type.selected %} selected {% endif %}
                            value="{{ limit_type.url }}">{{ limit_type.limit_title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="products">
        {% if products %}
            {% include 'product_list.twig' with products %}
        {% endif %}
    </div>
    <div style="width: 100%; text-align: center">
        <div class="action-learn-more">
            ДИВИТИСЬ БІЛЬШЕ
        </div>
    </div>
    <script type="text/javascript">
        assignBtnEvent();
    </script>
{% endif %}

