{% if products %}
    <div class="actions">
        {% for product in products %}
        {% if product.product_id %}
            <div class="action-outside">
                <div class="action">
                    <div class="characterictic">
                        <ul class="properties">
                            {% for attribute in product.attributes %}
                                <li>
                                <span>
                                    {{ attribute.name }}:
                                </span>
                                    <span>
                                    {{ attribute.text }}
                                </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="img">
                        {% if product.image %}
                            <a href="{{ product.href }}"><img src="image/{{ product.image }}"></a>
                        {% elseif product.thumb %}
                            <a href="{{ product.href }}"><img src="{{ product.thumb }}"></a>
                        {% endif %}
                    </div>
                    <p>
                        <a href="{{ product.href }}">{{ product.name }}</a>
                    </p>
                    <div class="price">
                        {% if product.special_price %}
                            <span class="old-price">
                        {{ product.price }}
                     </span>
                            <span class="new-price">
                        {{ product.special_price }}
                    </span>
                        {% else %}
                            <span class="price">
                        {{ product.price }}
                     </span>
                        {% endif %}
                    </div>
                    <div class="action-characteristic">
                        <div class="action-btns">
                            <div class="action-btn">
                                <img src="images/comparison.png" onclick="compare.add('{{ product.product_id }}');">
                            </div>
                            <div class="action-btn">
                                <img src="images/shopping-cart.png" onclick="cart.add({{ product.product_id }}, 1);">
                            </div>
                            <div class="action-btn">
                                <img src="images/like.png" onclick="wishlist.add('{{ product.product_id }}');">
                            </div>
                        </div>
                        <button class="add">
                            <img src="images/Group 186.png">
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}
    <div>{{ empty_list }}</div>
{% endif %}