{#<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/page4.css">#}

<div class="swiper-viewport photo{{ addition_classes }}" {% if background_image %} style="background-image: url('image/{{ background_image }}')" {% endif %}>
    <div id="slideshow{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">
      {% for banner in banners %}
            <div class="swiper-slide text-center">

                <div class="top-slider">
                    {% if banner.image %}
                        <div><img src="{{ banner.image }}" alt="{{ banner.title }}"></div>
                    {% else %}
                        <div>{{ banner.html }}</div>
                    {% endif %}
                </div>
            </div>
      {% endfor %} </div>
  </div>
  <div class="swiper-pagination slideshow{{ module }}"></div>
  <div class="swiper-pager slider-realized-oper">
    <div class="arrow arrow-left"><img src="{% if background_image %} images/main-banner-arrow.png {% else %} images/arrow-pointing-to-right.png {% endif %}"></div>
    <div class="arrow arrow-right"><img src="{% if background_image %} images/main-banner-arrow.png {% else %} images/arrow-pointing-to-right.png {% endif %}"></div>
  </div>
</div>


<script type="text/javascript"><!--
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: {% if slidesPreView %} {{ slidesPreView }} {% else %} 2 {% endif %},
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.arrow-left',
    prevButton: '.arrow-right',
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: true
});
--></script>