<h2 class="catalog-title">{{ heading_title }}</h2>

{% if(categories) %}
    <div class="action-menu">
        {% for category in categories %}
            <a {% if loop.first %} class="action-active" {% endif %} href="{{ category.url }}">{{ category.name }}</a>
        {% endfor %}
    </div>
{% endif %}

{{ include('products.twig', products) }}