{% if categories %}
    <div class="category">
        {% for category in categories %}
            <a href="{{ category.href }}" class="category-item">
                {% if category.image %}
                    <img src="image/{{ category.image }}">
                {% endif %}
                <p>
                    {{ category.name }}
                </p>
            </a>
        {% endfor %}
    </div>
    <div class="look-more more-categories">
        <button>
            <img src="images/arrow-pointing-to-right.png">
        </button>
    </div>
{% endif %}