<div style="text-align:left;display: flex">
    <div style="flex: 1">
        <p class="slider-big-p">
            твердопаливні котли
        </p>
        <p class="slider-main-p">
            candle
        </p>
        <a href="" class="learn-more">
            дізнатись більше
        </a>
    </div>
    <div style="flex: 1;display: flex; flex-direction: row; position: relative; top: 90px;">
        <div style="flex: 1"><img src="images/Neus-kta_05 1.png" alt=""></div>
        <div style="flex: 1"><img src="images/UNI-30-Kotel-Front 1.png" alt=""></div>
    </div>
    <div class="ph-num" style="flex: 1; position: relative; top: 230px">
        <a href="" class="learn-more">
            +38 (0_ _) _ _ _ - _ _ - _ _
        </a>
        <a href="" class="learn-more">
            зателефонуйте мені
        </a>
    </div>
</div>