{{ header }}
<div class="container">
  <div class="category-nav">
    {% for breadcrumb in breadcrumbs %}
      {% if loop.index  > 1%}
        <div class="category-nav-item">
          >
        </div>
      {% endif %}
      <div class="category-nav-item">
        <a href="{{ breadcrumb.href }}">
          {{ breadcrumb.text }}
        </a>
      </div>
    {% endfor %}
  </div>
  <h1 class="category-header">
    Бажане
  </h1>
  <div class="review-product-count">
    <p>
      Товари у списку: <span id="wishlist_count">{{ wishlist_count }}</span>
    </p>
  </div>
  <div class="disireds">
    {% if products %}
    {% for product in products %}
      {% set power = '' %}
      {% set square = '-' %}
      {% for attribute in product.attributes %}
        {% if attribute.attribute_id == 111 %}
          {% set power =  attribute.text%}
        {% endif %}
        {% if attribute.attribute_id == 30 %}
          {% set square =  attribute.text%}
        {% endif %}
      {% endfor%}
    <div class="disired" id="{{ product.product_id }}">
      <div class="img">
        <img src="{{ product.thumb }}">
      </div>
      <div class="product-info">
        <p class="main-p">
          {{ product.name }}
        </p>
        {% if product.special %}
          <p class="old-price">
            {{ product.price }}
          </p>
          <p class="new-price">
            {{ product.special }}
          </p>
        {% else %}
          <p class="price">
            {{ product.price }}
          </p>
        {% endif %}
      </div>
      <div class="parametrs">
        <ul>
          <li>
            <p>
              Виробник:
            </p>
            <span>
								{{ product.manufacturer}}
							</span>
          </li>
          <li>
            <p>
              тип котла:
            </p>
            <span>
								{{ product.meta_title }}
							</span>
          </li>
          <li>
            <p>
              потужність:
            </p>
            <span>
              {{ power }} кВт
            </span>
          </li>
        </ul>
      </div>
      <div class="features">
        <ul>
          <li>
            auto
          </li>
          <li>
            <img src="images/wifi-signal.png">
            <span>
									wi-fi
								</span>
          </li>
          <li>
            A
          </li>
          <li>
								<span>
									площа
								</span>
            {{ square }} м2
          </li>
        </ul>
      </div>
      <div class="product-backet">
        <span onclick="removeFromList({{ product.product_id }})">
          <img src="images/Vector (7).png">
        </span>
      </div>
    </div>
    {% endfor %}
    {% else %}
    {{ text_empty }}
    {% endif %}
  </div>
</div>
<script>
  function removeFromList(product_id){
    $.post('index.php?route=account/wishlist/delete', { product_id: product_id }, function (response){
      $('#wishlist_count').html(JSON.parse(response).count)
      $('.disired#'+product_id).remove();
      if($('.disired').length == 0){
        $('.disireds').html('{{ text_empty }}');
      }
    })
  }
</script>
{{ footer }} 