{{ header }}
<link rel="stylesheet" href="/catalog/view/theme/default/stylesheet/page6.css">
  <div id="information-contact" class="container">
    <div class="category-nav">
      {% for breadcrumb in breadcrumbs %}
        {% if loop.index  > 1%}
          <div class="category-nav-item">
            >
          </div>
        {% endif %}
        <div class="category-nav-item">
          {% if not loop.last %}
            <a href="{{ breadcrumb.href }}">
              {{ breadcrumb.text }}
            </a>
          {% else %}
            <span>{{ breadcrumb.text }}</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="row">{{ column_left }}
      {% if column_left and column_right %}
        {% set class = 'col-sm-6' %}
      {% elseif column_left or column_right %}
        {% set class = 'col-sm-9' %}
      {% else %}
        {% set class = 'col-sm-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
      {{ column_right }}</div>
  </div>
{{ footer }}