{{ header }}
<div id="product-category" class="container">
    <div class="category-nav">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.index  > 1 %}
                <div class="category-nav-item">
                    >
                </div>
            {% endif %}
            <div class="category-nav-item">
                {% if not loop.last %}
                    <a href="{{ breadcrumb.href }}">
                        {{ breadcrumb.text }}
                    </a>
                {% else %}
                    <span>{{ breadcrumb.text }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <h1 class="category-header">
        {{ heading_title }}
    </h1>
    <div class="review-product-count">
        <p>
            {{tab_review}}
        </p>
    </div>
    <div id="category-content" class="display-flex">
        <div id="search-post">
            <div class="search-enter">
                <img src="catalog/view/theme/default/image/Vector.png">
            </div>
            <input type="" name="search_by_product" autocomplete="off" placeholder="{{ search_by_product }}" class="search-input">
            <input type="hidden" id="post_category_id" value="{{ post_category_id }}">
            <input type="hidden" id="product_id" value="">
        </div>
        <div class="last-works post-list">
            {% for post in posts %}
                {% if post.name %}
                    {% include 'block_later_job.twig' with post %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{{ content_bottom }}
{{ footer }}
<script>
    $('input[name=\'search_by_product\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?route=product/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['name'],
                            value: item['product_id']
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            $('input[name=\'product\']').val(item['label']);
            $('input[name=\'product_id\']').val(item['value']);
        }
    });

    $(document).on('keyup', 'input[name=\'search_by_product\']', function (event){
        if($('input[name=\'search_by_product\']').val().length == 0){
            $('#product_id').val(0);
        }
        getPosts($('#product_id').val());
    })

    $(document).on('change', 'input[name=\'search_by_product\']', function (){
        console.log();
        if($('input[name=\'search_by_product\']').val().length == 0){
            getPosts(0);
        }
    })

    $(document).on('click', '#search-post .dropdown-menu li', function (){
        $('input[name=search_by_product]').val($(this).find('a').html());
        getPosts($(this).attr('data-value'));
    })

    function getPosts(product_id){
        let params = {post_category_id: $('#post_category_id').val()};
        if(product_id != 0){
            params.product_id = product_id;
            $('#product_id').val(product_id);
        }
        $.ajax({
            url: 'index.php?route=post/category/getposts&user_token={{ user_token }}',
            data: params,
            type: 'get',
            success: function (html){
                $('.last-works').html(html);
            }
        })
    }

</script>