{{ header }}
<div class="container">
    <div class="category-nav">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.index  > 1 %}
                <div class="category-nav-item">
                    >
                </div>
            {% endif %}
            <div class="category-nav-item">
                {% if not loop.last %}
                    <a href="{{ breadcrumb.href }}">
                        {{ breadcrumb.text }}
                    </a>
                {% else %}
                    <span>{{ breadcrumb.text }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <h1 class="category-header">
        {{ post_name }}
    </h1>
    <div class="review-product-count">
        <div>
            {% if rating %}
                {% for i in 1..rating %}
                    <img src="images/Vector (8).png">
                {% endfor %}
            {% endif %}
            {% if rating < 5 %}
                {% for i in 1..5-rating %}
                    <img src="images/Vector (9).png">
                {% endfor %}
            {% endif %}
        </div>
        <p>
            {{ reviews }}
        </p>
    </div>

    {{ banners }}

    {% if post_type != 1 %}
        <div class="tab-menu">
            <ul>
                {% if text %}
                <li>
                <span class="tab-content" tabindex="description">
                    Опис
                </span>
                </li>
                {% endif %}
                {% if properties %}
                <li>
                <span class="tab-content" tabindex="properties">
                    Характеристики
                </span>
                </li>
                {% endif %}
                <li>
                <span class="tab-content" tabindex="review">
                    {{ reviews }}
                </span>
                </li>
                {% if products %}
                <li>
                <span class="tab-content" tabindex="goods">
                    {{ products_title }}
                </span>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="tabs">
            <div class="tab" id="description">
                {{ text }}
            </div>
            <div class="tab" id="properties" style="display: none">
                {{ properties }}
            </div>
            <div class="tab" id="review" style="display: none">

                <div id="review-list">

                </div>
            </div>
            {% if products %}
                <div class="tab products" id="goods" style="display: none; justify-content: flex-start">
                        {% for product in products %}
                            {% include 'product_info.twig' with product %}
                        {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if related_posts %}
            <h2 class="catalog-title">
                Схожі об’єкти
            </h2>
            <div class="last-works">
                {% for object in related_posts %}
                    {% include 'post_info.twig' with object %}
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <div class="post-description">
            {{ text }}
        </div>
    {% endif %}
</div>
{{ content_top }}
{% if post_type != 1 %}
    <script>
        $('#review-list').load('index.php?route=post/post/review&post_id={{ post_id }}');
        $('.tab-content').on('click', function () {
            $('.tab').hide();
            $('.tab#' + $(this).attr('tabindex')).show();
        })
        $(document).ready(function () {
            if($('.tab').length > 0) {
                $('.tab').hide();
                $('.tab')[0].style.display = "block";
            }
        })
    </script>
{% endif %}
<script type="text/javascript">
    if (!add) {
        var add = document.querySelectorAll('.action .add');
    } else {
        add = document.querySelectorAll('.action .add');
    }
    if (!characterictic) {
        var characterictic = document.querySelectorAll('.characterictic');
    } else {
        characterictic = document.querySelectorAll('.characterictic');
    }

    var arrayElem = [];

    for (var i = 0; i < add.length; i++) {
        arrayElem.push(add[i]);
        add[i].addEventListener('click', function (e) {
            characterictic[arrayElem.indexOf(this)].style.display = 'block';
            $(this).hide();
        });
    }
    for (var i = 0; i < characterictic.length; i++) {
        arrayElem.push(characterictic[i]);
        characterictic[i].addEventListener('click', function (e) {
            $($(this).parents()[1]).find('button.add').show()
            this.style.display = 'none';
        });
    }

</script>
{{ footer }}