{{ header }}
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/page5.css">
<div class="container">
    <div class="category-nav">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.index  > 1%}
            <div class="category-nav-item">
                >
            </div>
            {% endif %}
            <div class="category-nav-item">
                {% if not loop.last %}
                <a href="{{ breadcrumb.href }}">
                    {{ breadcrumb.text }}
                </a>
                {% else %}
                    <span>{{ breadcrumb.text }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <h1 class="category-header">
        {{ post_name }}
    </h1>
    <div class="review-product-count">
        <div>
            {% if rating %}
                {% for i in 1..rating %}
                    <img src="images/Vector (8).png">
                {% endfor %}
            {% endif %}
            {% if rating < 5 %}
                {% for i in 1..5-rating %}
                    <img src="images/Vector (9).png">
                {% endfor %}
            {% endif %}
        </div>
        <p>
            {{reviews}}
        </p>
    </div>
    <div class="order-consultation">
        <div class="img">
            <img src="image/{{ image }}">
        </div>
        <div class="consult">
            <form name="consultation-form">
                <div class="corner consult top-left">&nbsp;</div>
                <div class="corner consult bottom-right">&nbsp;</div>
                <p class="main-p">
                    Замовити консультацію
                </p>
                <input name="client-name" placeholder="Як Вас звати?">
                <input name="email" placeholder="Введіть Вашу пошту">
                <input name="phone" placeholder="Введіть Ваш номер телефону">
                <button type="button" onclick="send_email($(this))">
                    Залишити заявку
                </button>
            </form>
        </div>
    </div>
    <div class="tab-menu">
        <ul>
            <li>
                <span class="tab-content" tabindex="description">
                    Опис
                </span>
            </li>
            <li>
                <span class="tab-content" tabindex="review">
                    {{reviews}}
                </span>
            </li>

        </ul>
    </div>
    <div class="tabs">
        <div class="tab" id="description">
            {{ text }}
        </div>
        <div class="tab" id="review" style="display: none">
        </div>
    </div>
    {% if related_posts %}
        <h2 class="catalog-title">
            Схожі об’єкти
        </h2>
        <div class="last-works">
                {% for object in related_posts %}
                    {% include 'post_info.twig' with object %}
                {% endfor %}
        </div>
    {% endif %}
    {% if articles %}
        <h2 class="catalog-title">
            Корисна інформація
        </h2>
        <div class="articles">
            <div class="articles-btn">
                &lt;
            </div>
            <div class="articles-cont">
                {% for article in articles %}
                    {% include 'article_info.twig' with article %}
                {% endfor %}


            </div>
            <div class="articles-btn">
                &gt;
            </div>
        </div>
    {% endif %}
</div>
<script>
    $('#review').load('index.php?route=post/post/review&post_id={{ post_id }}');
    $('.tab-content').on('click', function (){
        $('.tab').hide();
        $('.tab#'+$(this).attr('tabindex')).show();
        console.log($('.tab#'+$(this).attr('tabindex')));
    })
    $(document).ready(function() {
        $('.tab').hide();
        $('.tab')[0].style.display = "block";
    })
</script>
<script type="text/javascript">
    if(!add) {
        var add = document.querySelectorAll('.action .add');
    }else{
        add = document.querySelectorAll('.action .add');
    }
    if(!characterictic) {
        var characterictic = document.querySelectorAll('.characterictic');
    }else{
        characterictic = document.querySelectorAll('.characterictic');
    }

    var arrayElem = [];

    for (var i = 0; i < add.length; i++){
        arrayElem.push(add[i]);
        add[i].addEventListener('click', function(e){
            characterictic[arrayElem.indexOf(this)].style.display = 'block';
            $(this).hide();
        });
    }
    for (var i = 0; i < characterictic.length; i++){
        arrayElem.push(characterictic[i]);
        characterictic[i].addEventListener('click', function(e){
            $($(this).parents()[1]).find('button.add').show()
            this.style.display = 'none';
        });
    }

</script>
{{ footer }}