<div class="action">
    <div class="characterictic">
        <ul>
            <li>
                <p>
                    Виробник:
                </p>
                <span>Україна</span>
            </li>
            <li>
                <p>
                    Наявність:
                </p>
                <span>3 шт в наявності</span>
            </li>
            <li>
                <p>
                    Модель:
                </p>
                <span>BB v S1</span>
            </li>
            <li>
                <p>
                    Наявність:
                </p>
                <span>
								3 шт в наявності
							</span>
            </li>

        </ul>
    </div>
    <div class="img">
        <ul>
            <li>
                auto
            </li>
            <li>
                <img src="images/wifi-signal.png">
                <span>
							wi-fi
						</span>
            </li>
            <li>
                A
            </li>
            <li>
						<span>
							площа
						</span>
                25 м2
            </li>
        </ul>
        <img src="images/boylery-removebg-preview 1.png">
    </div>
    <p>
        бойлер sunsystem BB v S1
    </p>
    <div class="price">
					<span class="old-price">
						4 700 ₴
					</span>
        <span class="new-price">
						3 350 ₴
					</span>
    </div>
    <div class="action-characteristic">
        <div class="action-btns">
            <div class="action-btn">
                <img src="images/comparison.png">
            </div>
            <div class="action-btn">
                <img src="images/shopping-cart.png">
            </div>
            <div class="action-btn">
                <img src="images/like.png">
            </div>
        </div>
        <button class="add">
            <img src="images/Group 186.png">
        </button>
    </div>
</div>