{{ header }}
<div id="product-category" class="container">
    <div class="category-nav">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.index  > 1 %}
                <div class="category-nav-item">
                    >
                </div>
            {% endif %}
            <div class="category-nav-item">
                {% if not loop.last %}
                    <a href="{{ breadcrumb.href }}">
                        {{ breadcrumb.text }}
                    </a>
                {% else %}
                    <span>{{ breadcrumb.text }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <h1 class="category-header">
        {{ heading_title }}
    </h1>
    <div class="review-product-count">
        <div>
            {% if rating %}
                {% for i in 1..rating %}
                    <img src="images/Vector (8).png">
                {% endfor %}
            {% endif %}
            {% if rating < 5 %}
                {% for i in 1..5-rating %}
                    <img src="images/Vector (9).png">
                {% endfor %}
            {% endif %}
        </div>
        <p>
            {{tab_review}}
        </p>
    </div>
    <div id="category-content" class="display-flex">
        <div class="filter">
            {{ column_left }}
        </div>
        <div class="row products-and-category">
            {% if column_left and column_right %}
                {% set class = 'col-sm-6' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-sm-9' %}
            {% else %}
                {% set class = 'col-sm-12' %}
            {% endif %}
            <div class="{{ class }}">{{ content_top }}</div>
            <div>{{ column_right }}</div>
        </div>
    </div>
</div>
{{ content_bottom }}
{% if description %}
    <div class="row-block description_block">{{ description }}</div>
{% endif %}</div>
{{ footer }} 
