{{ header }}
<div class="container">
  <div class="category-nav">
    {% for breadcrumb in breadcrumbs %}
      {% if loop.index  > 1%}
        <div class="category-nav-item">
          >
        </div>
      {% endif %}
      <div class="category-nav-item">
        <a href="{{ breadcrumb.href }}">
          {{ breadcrumb.text }}
        </a>
      </div>
    {% endfor %}
  </div>
  <h1 class="category-header">
    {{ heading_title }}
  </h1>
  <div class="review-product-count">
    <p>
      Додано товарів: <span>{{ products|length }}</span>
    </p>
  </div>
  <div class="slider-realized-oper">
    <div class="arrow arrow-left">
      <img src="images/arrow-pointing-to-right.png">
    </div>
    <div class="slides">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="arrow">
      <img src="images/arrow-pointing-to-right.png">
    </div>
  </div>
  <div class="comparison-cont">
    <div class="info-chose">
      <p>
        Показати інформацію:
      </p>
      <div>
        <span class="selected"></span>
        <label>
          Всю
        </label>
      </div>
      <div>
        <span></span>
        <label>
          Спільне
        </label>
      </div>
      <div>
        <span></span>
        <label>
          Відмінне
        </label>
      </div>
    </div>
    <div class="comparison-products">
{#      <div class="comparison-product show-mob">#}
{#        <div class="action">#}
{#          <p>#}
{#            бойлер sunsystem BB v S1#}
{#          </p>#}
{#          <div class="img">#}
{#            <ul>#}
{#              <li>#}
{#                auto#}
{#              </li>#}
{#              <li>#}
{#                <img src="images/wifi-signal.png">#}
{#                <span>#}
{#									wi-fi#}
{#								</span>#}
{#              </li>#}
{#              <li>#}
{#                A#}
{#              </li>#}
{#              <li>#}
{#								<span>#}
{#									площа#}
{#								</span>#}
{#                25 м2#}
{#              </li>#}
{#            </ul>#}
{#            <img src="images/boylery-removebg-preview 1.png">#}
{#          </div>#}
{#          <div class="price">#}
{#						<span class="old-price">#}
{#							4 700 ₴#}
{#						</span>#}
{#            <span class="new-price">#}
{#							3 350 ₴#}
{#						</span>#}
{#          </div>#}
{#        </div>#}
{#        <div class="comp-btns">#}
{#          <div class="comp-btn comp-btn-like">#}
{#            <img src="images/like.png">#}
{#          </div>#}
{#          <div class="comp-btn-basket">#}
{#            <img src="images/shopping-cart.png">#}
{#          </div>#}
{#          <div class="comp-btn">#}
{#            <img src="images/Vector (6).png">#}
{#          </div>#}
{#        </div>#}
{#        <div class="stars">#}
{#          <img src="images/Vector (8).png">#}
{#          <img src="images/Vector (8).png">#}
{#          <img src="images/Vector (8).png">#}
{#          <img src="images/Vector (9).png">#}
{#          <img src="images/Vector (9).png">#}
{#        </div>#}
{#      </div>#}
{#      <div class="comparison-product show-mob">#}
{#        <div class="action">#}
{#          <p>#}
{#            бойлер sunsystem BB v S1#}
{#          </p>#}
{#          <div class="img">#}
{#            <ul>#}
{#              <li>#}
{#                auto#}
{#              </li>#}
{#              <li>#}
{#                <img src="images/wifi-signal.png">#}
{#                <span>#}
{#									wi-fi#}
{#								</span>#}
{#              </li>#}
{#              <li>#}
{#                A#}
{#              </li>#}
{#              <li>#}
{#								<span>#}
{#									площа#}
{#								</span>#}
{#                25 м2#}
{#              </li>#}
{#            </ul>#}
{#            <img src="images/boylery-removebg-preview 1.png">#}
{#          </div>#}
{#          <div class="price">#}
{#						<span class="old-price">#}
{#							4 700 ₴#}
{#						</span>#}
{#            <span class="new-price">#}
{#							3 350 ₴#}
{#						</span>#}
{#          </div>#}
{#        </div>#}
{#        <div class="comp-btns">#}
{#          <div class="comp-btn comp-btn-like">#}
{#            <img src="images/like.png">#}
{#          </div>#}
{#          <div class="comp-btn-basket">#}
{#            <img src="images/shopping-cart.png">#}
{#          </div>#}
{#          <div class="comp-btn">#}
{#            <img src="images/Vector (6).png">#}
{#          </div>#}
{#        </div>#}
{#        <div class="stars">#}
{#          <img src="images/Vector (8).png">#}
{#          <img src="images/Vector (8).png">#}
{#          <img src="images/Vector (8).png">#}
{#          <img src="images/Vector (9).png">#}
{#          <img src="images/Vector (9).png">#}
{#        </div>#}
{#      </div>#}
{#      <div class="comparison-product">#}
{#        <div class="action">#}
{#          <p>#}
{#            бойлер sunsystem BB v S1#}
{#          </p>#}
{#          <div class="img">#}
{#            <ul>#}
{#              <li>#}
{#                auto#}
{#              </li>#}
{#              <li>#}
{#                <img src="images/wifi-signal.png">#}
{#                <span>#}
{#									wi-fi#}
{#								</span>#}
{#              </li>#}
{#              <li>#}
{#                A#}
{#              </li>#}
{#              <li>#}
{#								<span>#}
{#									площа#}
{#								</span>#}
{#                25 м2#}
{#              </li>#}
{#            </ul>#}
{#            <img src="images/boylery-removebg-preview 1.png">#}
{#          </div>#}
{#          <div class="price">#}
{#						<span class="old-price">#}
{#							4 700 ₴#}
{#						</span>#}
{#            <span class="new-price">#}
{#							3 350 ₴#}
{#						</span>#}
{#          </div>#}
{#        </div>#}
{#        <div class="comp-btns">#}
{#          <div class="comp-btn comp-btn-like">#}
{#            <img src="images/like.png">#}
{#          </div>#}
{#          <div class="comp-btn-basket">#}
{#            <img src="images/shopping-cart.png">#}
{#          </div>#}
{#          <div class="comp-btn">#}
{#            <img src="images/Vector (6).png">#}
{#          </div>#}
{#        </div>#}
{#        <div class="stars">#}
{#          <img src="images/Vector (8).png">#}
{#          <img src="images/Vector (8).png">#}
{#          <img src="images/Vector (8).png">#}
{#          <img src="images/Vector (9).png">#}
{#          <img src="images/Vector (9).png">#}
{#        </div>#}
{#      </div>#}
      {% if products %}
        {% for product in products %}
          {% include 'comparison-product.twig' with product %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <h2 class="header-table">
    Корпус
  </h2>
  <div class="table">
    <div class="table-row">
      <p class="parametr">
        Матеріал
      </p>
      <div class="parametr-values">
        <p class="parametr-value show-mob">
          Сталь
        </p>
        <p class="parametr-value show-mob">
          Сталь
        </p>
        <p class="parametr-value">
          Сталь
        </p>
      </div>
    </div>
  </div>
  <h2 class="header-table">
    ТТХ
  </h2>
  <div class="table">
    <div class="table-row">
      <p class="parametr">
        Потужність
      </p>
      <div class="parametr-values">
        <p class="parametr-value show-mob">
          10кВт
        </p>
        <p class="parametr-value show-mob">
          10кВт
        </p>
        <p class="parametr-value">
          10кВт
        </p>
      </div>
    </div>
    <div class="table-row">
      <p class="parametr">
        Паливо
      </p>
      <div class="parametr-values">
        <p class="parametr-value show-mob">
          дрова
        </p>
        <p class="parametr-value show-mob">
          вугілля
        </p>
        <p class="parametr-value">
          пелети
        </p>
      </div>
    </div>
    <div class="table-row">
      <p class="parametr">
        Час горіння
      </p>
      <div class="parametr-values">
        <p class="parametr-value show-mob">
          16-144год
        </p>
        <p class="parametr-value show-mob">
          16-144год
        </p>
        <p class="parametr-value">
          16-144год
        </p>
      </div>
    </div>
    <div class="table-row">
      <p class="parametr">
        ККД
      </p>
      <div class="parametr-values">
        <p class="parametr-value show-mob">
          89%
        </p>
        <p class="parametr-value show-mob">
          89%
        </p>
        <p class="parametr-value">
          89%
        </p>
      </div>
    </div>
    <div class="table-row">
      <p class="parametr">
        Гарантія
      </p>
      <div class="parametr-values">
        <p class="parametr-value show-mob">
          5 років
        </p>
        <p class="parametr-value show-mob">
          5 років
        </p>
        <p class="parametr-value">
          5 років
        </p>
      </div>
    </div>
  </div>
  </div>
{{ footer }}