{{ header }}
<div class="container">
    <div class="category-nav">
        {% for breadcrumb in breadcrumbs %}
            {% if loop.index  > 1%}
                <div class="category-nav-item">
                    >
                </div>
            {% endif %}
            <div class="category-nav-item">
                {% if not loop.last and breadcrumb.href%}
                    <a href="{{ breadcrumb.href }}">
                        {{ breadcrumb.text }}
                    </a>
                {% else %}
                    <span>{{ breadcrumb.text }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <h1 class="category-header">
        {{ product.rating }} {{ heading_title }}
    </h1>
    <div class="review-product-count">
        <div>
            {% if rating %}
                {% for i in 1..rating %}
                    <img src="images/Vector (8).png">
                {% endfor %}
            {% endif %}
            {% if rating < 5 %}
                {% for i in 1..5-rating %}
                    <img src="images/Vector (9).png">
                {% endfor %}
            {% endif %}
        </div>
        <p>
            {{tab_review}}
        </p>
    </div>
    <div class="product">
        {% if images %}
        <div class="product-slider">
            <div class="product-button-top">
                <a href="#" id="ticker-next" class="slider-btn-control"><img src="images/arrow-pointing-to-right.png"></a>
            </div>
            <div class="product-slides">
                <ul id="vertical-ticker">
                    {% for image in images %}
                        <li><img src="{{ image.thumb }}"></li>
                    {% endfor %}
                    {% for image in images %}
                        <li><img src="{{ image.thumb }}"></li>
                    {% endfor %}
                </ul>
{#                <a href="#" id="ticker-previous">Назад</a> / <a href="#" id="ticker-next">Вперёд</a> / <a id="stop" href="#">Стоп</a> / <a id="start" href="#">Старт</a>#}
            </div>
            <div class="product-button-bottom">
                <a href="#" id="ticker-previous" class="slider-btn-control"><img src="images/arrow-pointing-to-right.png"></a>
            </div>
        </div>
        {% endif %}
        <img class="current-slide" src="{{ popup }}">
        <div class="product-info">
            {% if special %}
                <p class="old-price">
                    {{ price }}
                </p>
                <p class="new-price">
                    {{ special }}
                </p>
            {% else %}
            {% endif %}
            <ul>
                <li>
                    <p>
                        <img src="images/Vector (3).png">
                        Виробник:
                    </p>
                    <span>
							{{ manufacturer }}
						</span>
                </li>
                <li>
                    <p>
                        <img src="images/Vector (3).png">
                        Наявність:
                    </p>
                    <span>
							{{ stock }}
						</span>
                </li>
                <li>
                    <p>
                        <img src="images/Vector (3).png">
                        Модель:
                    </p>
                    <span>
							{{ model }}
						</span>
                </li>
            </ul>
            <div class="product-action">
                <div class="count">
						<span class="minus">
							-
						</span>
                    <input type="number" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
                    <span class="plus">
							+
						</span>
                </div>
                <div class="act">
                    <img title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"src="images/Vector (4).png">
                    <img class="comparison" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');" src="images/comparison.png">
                </div>
            </div>
            <p>
                Замовити з монтажем:
            </p>
            <select class="select">
                <option >---Виберіть---</option>
                {% if options %}
                    {% for option in options %}
                        <option value="{{ option.product_option_value_id }}">{{ option.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
                <img class="inv" src="images/shopping-cart.png">
                <span>
						До кошика
					</span>
            </button>
            <button>
                <img src="images/Vector (5).png">
                <span>
						Замовити консультацію
					</span>
            </button>
            <button>
                <img src="images/Group (2).png">
                <span>
						Знайшли дешевше?
					</span>
            </button>
        </div>
        {% if post_info %}
        <div class="montage">
            {{ include('block_later_job.twig', post_info) }}
        </div>
        {% endif %}
    </div>
    <div class="tab-menu">
        <ul>
            <li>
                <span class="tab-content" tabindex="description">
                    Опис
                </span>
            </li>
            <li>
                <span class="tab-content" tabindex="properties">
                    Характеристики
                </span>
            </li>
            <li>
                <span class="tab-content" tabindex="review">
                    {{ reviews }}
                </span>
            </li>
            <li>
                <span class="tab-content" tabindex="completed_object">
                    Реалізовані об’єкти
                </span>
            </li>

        </ul>
    </div>
    <div class="tabs">
        <div class="tab" id="description">
            {{ description }}
        </div>
        <div class="tab" id="review">
        </div>
        <div class="tab" id="properties">
            <table class="table table-bordered">
                {% for attribute_group in attribute_groups %}
                    <thead>
                    <tr>
                        <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for attribute in attribute_group.attribute %}
                        <tr>
                            <td>{{ attribute.name }}</td>
                            <td>{{ attribute.text }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    {{ content_top }}
</div>
<script type="text/javascript"><!--
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function() {
                $('#recurring-description').html('');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['success']) {
                    $('#recurring-description').html(json['success']);
                }
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--

    $('#vertical-ticker li').on('click', function (){
        let src = $(this).find('img').attr('src').replaceAll('74x74', '500x500');
        $('img.current-slide').attr('src', src);
    })

    $('.minus').on('click', function (){
        let count = parseInt( $('input[name=quantity]').val() ) - 1;
        if(count < 1) count = 1;
        $('input[name=quantity]').val(count)
    })

    $('.plus').on('click', function (){
        let count = parseInt( $('input[name=quantity]').val() ) + 1;
        $('input[name=quantity]').val(count)
    })

    $('.tab-content').on('click', function (){
        $('.tab').hide();
        $('.tab#'+$(this).attr('tabindex')).show();
    })

    $('#button-cart').on('click', function() {
        $.ajax({
            url: 'index.php?route=checkout/cart/add',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            beforeSend: function() {
                $('#button-cart').button('loading');
            },
            complete: function() {
                $('#button-cart').button('reset');
            },
            success: function(json) {
                $('.alert-dismissible, .text-danger').remove();
                $('.form-group').removeClass('has-error');

                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));

                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                }

                if (json['success']) {
                    $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                    $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

                    $('html, body').animate({ scrollTop: 0 }, 'slow');

                    $('#cart > ul').load('index.php?route=common/cart/info ul li');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        language: '{{ datepicker }}',
        pickTime: false
    });

    $('.datetime').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: true,
        pickTime: true
    });

    $('.time').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: false
    });

    $('button[id^=\'button-upload\']').on('click', function() {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function() {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function() {
                        $(node).button('loading');
                    },
                    complete: function() {
                        $(node).button('reset');
                    },
                    success: function(json) {
                        $('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input').val(json['code']);
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('#review').delegate('.pagination a', 'click', function(e) {
        e.preventDefault();

        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');
    });

    $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

    $('#button-review').on('click', function() {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id={{ product_id }}',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function() {
                $('#button-review').button('loading');
            },
            complete: function() {
                $('#button-review').button('reset');
            },
            success: function(json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                    $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });

    $(document).ready(function() {
        $('.tab').hide();
        $('.tab')[0].style.display = "block";
        $('.thumbnails').magnificPopup({
            type:'image',
            delegate: 'a',
            gallery: {
                enabled: true
            }
        });
    });
    //--></script>
<script type="text/javascript">
    if(!add) {
        var add = document.querySelectorAll('.action .add');
    }else{
        add = document.querySelectorAll('.action .add');
    }
    if(!characterictic) {
        var characterictic = document.querySelectorAll('.characterictic');
    }else{
        characterictic = document.querySelectorAll('.characterictic');
    }

    var arrayElem = [];

    for (var i = 0; i < add.length; i++){
        arrayElem.push(add[i]);
        add[i].addEventListener('click', function(e){
            characterictic[arrayElem.indexOf(this)].style.display = 'block';
            $(this).hide();
        });
    }
    for (var i = 0; i < characterictic.length; i++){
        arrayElem.push(characterictic[i]);
        characterictic[i].addEventListener('click', function(e){
            $($(this).parents()[1]).find('button.add').show()
            this.style.display = 'none';
        });
    }

</script>
<script type="text/javascript">
    $(function(){
        $('#vertical-ticker').totemticker({
            row_height : '100px',
            next : '#ticker-next',
            previous : '#ticker-previous',
            stop : '#stop',
            start : '#start',
            mousestop : true,
        });
    });
</script>

<style>
    #vertical-ticker{
        height:400px;
        width:auto;
        overflow:hidden;
        margin:0; padding:0;
        /*-webkit-box-shadow:0 1px 3px rgba(0,0,0, .4);*/
    }
    #vertical-ticker li{
        padding:0 10px;
        display:block;
        /*background:#efefef;*/
        color:#333;
        min-height: 100px;
        /*border-bottom:1px solid #ddd;*/
        text-align:center;
        font-size:25px;
        font-weight:bold;
        font-family: Helvetica Neue, times, serif;
    }
</style>
{{ footer }} 
