:root {
    --all-pading: calc(20vw - 110px);
}

.top-slider {
    width: 100%;
    height: 475px;
}

.slides {
    position: absolute;
    overflow: hidden;
    height: inherit;
    width: 100%;
    max-width: 1600px;
}

.slides img {
    position: absolute;
    max-width: 1600px;

}

.slider-cntrl {
    float: right;
    display: flex;
    position: relative;
    /*top: 50px;*/
    align-items: center;
    /*margin-right: var(--all-pading);*/
}

.photo .arrow-right {
    position: relative;
    top: -210px;
    left: -4vw;
}

.photo .arrow-left {
    position: relative;
    top: -210px;
    left: 57vw;
}

.photo .swiper-pagination-bullets {
    position: relative;
    top: -450px;
    left: 26.3vw;
}

.slider-cntrl .arrow {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.slider-cntrl .arrow img {
    width: inherit;
}

.slider-cntrl span {
    width: 10px;
    height: 10px;
    border: 1px solid #E53A40;
    border-radius: 10px;
    margin: 0 10px;
}

.slider-big-p, .slider-main-p {
    color: #C02739;
    margin-left: var(--all-pading);
    position: relative;
    top: 100px;
}

#search-post{
    width: 100%;
    display: flex;
    padding: 5px;
    position: absolute;
    background-color: #c02739;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.post-list{
    position: relative;
    top: 50px;
    padding: 0 5vw!important;
    padding-bottom: 40px!important;
}
#search-post .search-enter{
    padding: 10px 0;
}
#search-post .search-enter img{
    filter: invert(100%);
}
#search-post input{
    height: 40px;
    background-color: #fff;
}
#search-post .dropdown-menu{
    position: absolute;
    z-index: 100;
    background-color: white;
    width: 100%;
}
#search-post .dropdown-menu li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

#search-post .dropdown-menu li{
    list-style-type: none;
    text-align: left;
}
#search-post .dropdown-menu li a:hover{
    text-decoration: underline;
}
.slider-big-p {
    font-weight: 600;
    font-size: 30px;
}

@font-face {
    font-family: "rubik-mono-one";
    src: url("../fonts/rubik-mono-one/RubikMonoOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.slider-main-p {
    font-size: 80px;
    font-family: "rubik-mono-one";
    text-transform: uppercase;
    letter-spacing: 10px;
    left: -10px;
    text-shadow: 12px 14px 5px rgba(132, 20, 45, .6);
    font-weight: 800;
}
.photo .arrow-right img, .photo .arrow-left img{
    filter: unset!important;
}
.photo .arrow-right{
    position: relative;
    top: -215px;
    left: -2.5vw;
    border: none!important;
    background: none!important;
}
.photo .arrow-left{
    position: relative;
    top: -215px;
    left: 58.3vw;
    border: none!important;
    background: none!important;
}
.photo .swiper-pagination-bullets{
    position: relative;
    top: -422px;
    left: 28vw;
}
.photo .swiper-pagination-bullet{
    background: none!important;
    border: 1px solid #E53A40;
}

.photo .swiper-pagination-bullet-active{
    background: #E53A40!important;
}


.learn-more {
    width: 250px;
    height: 40px;
    background-color: #C02739;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    margin-left: var(--all-pading);
    position: relative;
    top: 70px;
    border-radius: 5px;
    box-sizing: border-box;
}
#checkout-cart{
    margin-bottom: 50px!important;
}
.learn-more:hover {
    color: #C02739;
    background-color: #fff;
    border: 2px solid #C02739;
}

.ph-num {
    float: right;
    position: relative;
    top: -100px;
    margin-right: var(--all-pading);
}

.ph-num .learn-more {
    margin-top: 30px;
}

.why-we {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 var(--all-pading);
    margin-top: 23px;
    box-sizing: border-box;
}

.why-we-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.why-we-item p{
    margin-top: 10px;
}
.why-we-item .circle {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.why-we-item .circle p {
    width: 50%;
    font-size: 14px;
    font-weight: 800;
}

.why-we-item .circle img {
    width: 60%;
}

.desc-heating {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 60px;
    padding: 0 1%;
}

.desc-heating h1 {
    font-size: 50px;
    color: #C02739;
}

.desc-heating h2 {
    font-size: 40px;
}
.advantages{
    width: 100%;
    display: flex;
}

.advantages-list {
    width: 65%;
    background: #D1D0D0;
    box-sizing: border-box;
    padding: 0 5vw;
    border-radius: 0px 15px 15px 0px;
}
.advantages-list ul{
    padding: 0;
    list-style: none;
}
.advantages-list ul li a{
    font-size: 1vw;
    text-decoration: none;
    color: #000;
    height: 3vw;
    width: 23vw;
    text-transform: uppercase;
    background: #fff;
    display: flex;
    border-radius: 5px 0 0 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5vw 0;
    cursor: pointer;
    position: relative;
}
.advantages-list ul li a .active-arrow{
    position: absolute;
    height: 100%;
    display: none;
    right: -2vw;
    top: 0;
    z-index: 3;
}
.advantages-list ul li a p{
    margin: 0;
    font-size: 1vw;
    z-index: 4;
}
.advantages-list ul .active .active-arrow{
    display: block;
}
.advantages-list ul li span{
    font-size: .8vw;
    z-index: 4;
    text-transform: none;
}
.advantages-list ul li span p{
    margin: 0;
}
.service-block{
    display: inline-flex;
    padding-bottom: 40px;
}
.sub_services ul li{
    display: none;
}
.sub_services{
    background-color: white;
    margin-left: 1.1vw;
    display: none;
}
.advantages-list ul .active{
    background: #E53A40;
    color: #fff;
    position: relative;
}
.advantages-list h2{
    font-size: 3vw;
}
.advantage-item{
    display: none;
    margin: 5vw 0;
    background: #fff;
    border-radius: 15px 0 0 15px;
    margin-left: -3.7vw;
}
.advantage-item:target{
    display: flex;
}
.advantage-item .img{
    width: 25vw;
    display: flex;
    align-items: flex-end;
}

.servers-about-div {
    padding-right: 1.2vw;
}

.advantage-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advantage-item .text {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantage-item .text p {
    font-size: 1vw;
    padding: 0 2vw;
    box-sizing: border-box;
}

.advantage-item .text h3 {
    font-size: 1.8vw;
    padding: 0 2vw;
    box-sizing: border-box;
}
.advantage-item a{
    background: unset;
    color: #9a9999;
    text-decoration: underline;
}
.advantage-item a.advantages-learn-more {
    height: 2vw;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding-left: 1vw;
    box-sizing: border-box;
    background: #E53A40;
    border-radius: 0 0 0 15px;
}
.advantage-item a img {
    width: 1vw;
    height: 1vw;
    margin: 0 1vw;
}

.advantage-item a span {
    transition: .5s;
    font-size: 1vw;
}

.advantage-item a:hover span {
    margin-left: 3vw;
}
.reviews {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.reviews h1 {
    width: 100%;
    font-size: 40px;
}

.review {
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.review-action-block{
    padding: .6vw 5% !important;
}

.review-btn {
    width: 5%;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 2vw;
}

.review p {
    font-size: 1.1vw;
}

.review .big-p {
    font-size: 1.3vw;
    text-align: right;
    font-weight: bold;
}

.review .main-p {
    width: 100%;
    font-size: 1.4vw;
    font-weight: bold;
}

.review-img {
    width: 30vw;
    max-height: 380px;
}

.reviews h2 {
    width: 100%;
}

.review .stars {
    margin-right: -4vw;
    height: 2.6vw;
    z-index: 30;
    display: flex;
    align-items: center;
    border-radius: 1.3vw;
    background: #E53A40;
    padding: 0 .5vw;
}

.review .stars img {
    margin: 0 .2vw;
    width: 1.4vw;
}

.catalog-title {
    width: 100%;
    font-size: 40px;
    box-sizing: border-box;
    padding: 0 var(--all-pading);
}

.catalog {
    margin: 15px 0;
    width: 100%;
    overflow: hidden;
    padding: 55px var(--all-pading);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width: 23.5%;
    margin: .75% .75%;
    position: relative;
}

.catalog-item-inside {
    width: 100%;
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 3px 3px 10px -5px;
    border-radius: 18px;
    min-height: 400px;
}

.buttons {
    display: none;
}

.catalog-item-inside div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media (max-width: 800px) and (min-width: 768px) {
    .catalog-item {
        width: 30%;
        margin: 1.65% 1.65%;
    }
    .action .img img{
        max-height: 50vw!important;
    }
}
@media (max-width: 1070px) and (min-width: 768px){
    .photo .arrow-right{
        top: -207px;
    }
    .photo .arrow-left{
        top: -207px;
    }
}
.catalog-item:hover .add {
    background: #E53A40;
}
.catalog-item:hover .add .plus span {
    background: #E53A40;
}
.catalog-item:hover p {
    background: #E53A40;
    color: #fff;
}

.catalog-item-inside:target ul {
    height: unset;
}

.catalog-item-inside:target {
    transform: rotate(0deg);
}

.catalog-item-inside p {
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 0 0 15px 15px;
    transition: .2s;
    font-size: 16px;
    text-align: center;
    background: #fff;
}
.catalog-item-inside div img {
    width: 50%;
    margin-top: 10px;
}

.catalog-item-inside ul {
    padding-left: 20px;
    min-height: 90px;
    height: 90px;
    overflow: hidden;
    list-style: none;
    text-align: left;
}

.catalog-item-inside ul li a {
    padding: 0 5px;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
.catalog-item-inside ul li a:hover{
    color: #E53A40;
    font-weight: bold;
    font-size: 13px;
}

.catalog-item .add {
    width: 40%;
    height: 24px;
    background: #C8C8C8;
    display: flex;
    align-items: center;
    transition: .2s;
    justify-content: center;
    border-radius: 15px 15px 0 0;
    border-color: transparent;
    cursor: pointer;
}
.expand-block{
    height: unset!important;
}

.catalog-item .add .plus {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus span {
    width: 12px;
    height: 1.5px;
    transition: .2s;
    background: #C8C8C8;
}

.plus span:nth-child(1) {
    transform: rotate(90deg);
    position: absolute;
}

.action-menu {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.action-menu a {
    padding: 0 10px;
    margin: 0 .7vw;
    height: 30px;
    float: left;
    text-decoration: none;
    color: #000;
    display: block;
    text-transform: uppercase;
}
.action-menu a:hover {
    font-weight: 700;
}

.action-active {
    font-weight: 700;
    border-bottom: 2px solid #000;
}
.actions {
    width: 100%;
    height: 40vw;
    box-sizing: border-box;
    overflow: hidden;
    padding: 30px var(--all-pading);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.action {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    float: left;
    align-items: center;
    background: #fff;
    box-shadow: 3px 3px 10px -5px;
    border-radius: 18px;
}

.action .stickers-icons {
    width: 20%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
}

.action .stickers-icons > li {
    width: 100%;
    height: 49px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    margin-top: 10px;
    text-align: center;
}

.action .stickers-icons li img {
    width: 35% !important;
    margin: auto;
}

.action .stickers-icons li span {
    font-weight: 100;
    font-size: 12px;
}

.action .stickers-icons li span {
    position: absolute;
    background: #FFF;
    padding: 10px;
    min-width: 200px;
    max-width: 300px;
    color: #000;
    border-radius: 2px;
    top: 60px;
    z-index: 40;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 8px -2px;
    display: flex;
    align-items: flex-start;
}

.action .stickers-icons li span p{
    font-size: unset;
    width: unset;
    text-align: unset;
    margin: unset;
    height: unset;
    text-transform: unset;
}

.action .stickers-icons li:hover span {
    opacity: 1;
    visibility: visible;
}
.action .stickers-icons li span::before{
    content: '';
    width: 20px;
    height: 20px;
    margin-left: 90px;
    position: absolute;
    background: #fff;
    margin-top: -15px;
    z-index: -35;
    transform: rotate(45deg);
}
.action .img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}
.action .img a{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.action .img img {
    width: 200px;
    max-height: 400px;
    margin: 0 auto;
    margin-top: 30px;
}
.action .img ul li img{
    width: 45px!important;
}

.action .product-name {
    font-size: 1.1vw;
    width: 73%;
    text-align: center;
    margin: 10px auto;
    height: 115px;
    position: relative;
    text-transform: uppercase;
}
.action .product-name a{
    text-decoration: none;
    color: #0a001f;
}
.action .price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.action .price span {
    margin: 5px 10px;
    margin-bottom: 20px;
}
.action .new-price {
    color: red;
}
.action .old-price {
    text-decoration: line-through red;
}
.action .action-btns {
    width: 80%;
    margin: 0 auto;
    display: none;
    flex-direction: row;
    position: absolute;
    left: 10%;
    z-index: 20;
    bottom: 0;
}

.action-outside:hover .action{
    position: absolute;
    height: 110%;
    z-index: 18;
}
.action-outside:hover .action-btns {
    display: flex;
}
.action-btns{
    display: flex;

}
.action .add {
    position: absolute;
    right: 0;
    top: 370px;
    background: none;
    border-radius: 100px 0 0 100px;
    width: 2.5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid rgba(229, 58, 64, .2);
    cursor: pointer;
    outline: none;
}
.action-outside{
    width: 280px;
    min-width: 180px;
    min-height: 450px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}

.action .product-block{
    height: 220px;
    width: 100%;
    margin: 30px 0;
}
.action .product-block a{
    height: inherit;
    width: inherit;
}
.action .product-block a img{
    width: inherit;
    height: inherit;
    object-fit: contain;
    margin: 0;
}

ul.properties{
    width: 100%;
    padding: 0;
}

ul.properties li span:last-child{
    font-size: 11px;
    min-width: 30%;
    text-align: right;
}
ul.properties li span:first-child{
    color: #8d8d8d;
    font-size: 11px;
    padding-right: 10px;
    min-width: 30%;
    text-align: left;
}

.action .add img {
    position: absolute;
    right: 0;
}

.characterictic {
    width: calc(100% + 65px);
    padding: 5%;
    box-sizing: border-box;
    height: calc(100% + 40px);
    border-radius: 15px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 25;
    display: none;
    position: absolute;
    background: #fff;
    margin-left: -40px;
    margin: -35px -35px 0;
}

.characterictc ul {
    width: 100%;
}

.characterictic ul li {
    height: unset;
    flex-direction: row;
    background: none;
    color: #000;
    margin: 15px 0;
    justify-content: space-between;
    border-bottom: 1px dotted #858585;
}

.characterictic ul li:after {
    content: unset;
}

.characterictic ul li p {
    text-align: left;
    margin: 0;
    font-size: 1vw;
    width: unset;
}

.characterictic ul li span {
    font-size: .8vw;
    text-align: right;
}

.action-btn {
    width: 25%;
    margin: 0 4.5%;
    padding: 10px 0;
    border-radius: 18px 18px 0px 0px;
    background: #E53A40;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.action-btn:hover img {
    filter: invert(25%);
}
.action-btn img {
    transition: .4s;
    width: 40%
}

.images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}
.images img {
    width: 50%;
}
.action-learn-more {
    width: 300px;
    height: 40px;
    border-radius: 18px;
    font-size: 12px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto!important;
    box-sizing: border-box;
    transition: .3s;
    margin-left: var(--all-pading);
    cursor: pointer;
}
.action-learn-more:hover {
    border: 3px solid #E53A40;
    color: #E53A40;
}
.last-works {
    padding: 0 var(--all-pading);
    overflow: hidden;
    padding-bottom: 1vw;
}
.last-work {
    min-height: calc(18vw + 50px);
    float: left;
    box-sizing: border-box;
    border-radius: 18px;
    box-shadow: 3px 3px 10px -5px;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    margin-top: 2vw;
    padding-top: 0;
    overflow: hidden;
    transition: opacity .2s;
}
.last-work:hover{
    opacity: .7;
}
.last-work-prev{
    margin-right: 3%;
    width: 22%;
}
.last-work .img {
    width: 100%;

    overflow: hidden;
    display: flex;
    align-items: flex-start;
    border-radius: 18px 18px 0 0;
    z-index: 30;
    justify-content: center;
}
.last-work .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.last-work .description_block {
    overflow: hidden;
    min-height: 65px;
    max-height: 65px;
    padding: 0 30px;
    background-color: #fff;
}
.last-work .description_block.post-preview{
    padding: 5px 30px;
    border-radius: 0 0 18px 18px;
    position: relative;
    background-color: #E53A40;
    bottom: -12px;
    text-transform: uppercase;
    color: #fff;
    width: calc(100% - 60px);
}
.last-work p {
    font-size: 12px;
    text-align: justify;
    margin: auto;
}
.last-work .post-preview p{
    font-size: 1vw;
    text-align: center;
    font-weight: 500;
    font-family: 'montserrat';
}
.last-work .attributes p{
    text-align: center;
}
.last-work .big-p {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    color: #777;
}
.last-work .text {
    background-color: #fff;
    border-radius: 0 0 18px 18px;
    z-index: 50;
    width: 100%;
}
.last-work .text div {
    display: none;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 18px 18px;
    width: 100%;
    background: #fff;
    justify-content: space-around;
    flex-wrap: wrap;
}
.last-work:hover .text{
    background-color: #fff;
    position: relative;
    border-radius: 0 0 18px 18px;
}
.last-work:hover .description_block{
    visibility: hidden;
}
.last-work:hover .text div {
    display: flex;
}
.attributes p{
    width: 100%;
}
.consultation {
    width: 100%;
    display: flex;
    background: #E53A40;
    align-items: flex-start;
    margin-top: 20vw;
    height: 440px;
    justify-content: center;
}
.consultation.block-1{
    margin-bottom: 150px;
}
.swiper-viewport.post-preview {
    background: #fff!important;
    padding: 0 40px;
    box-sizing: border-box;
}
.consultation-item:nth-child(1) {
    position: relative;
    top: -300px;
}
.consultation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.consultation-item p {
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
.consultation-item img {
    height: 100%;
}
.consultation-item form {
    width: 90%;
    margin-top: -1px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 30px 0;
}
.consultation-item form input {
    width: 80%;
    height: 60px;
    background: rgba(0, 0, 0, .2);
    border: none;
    padding-left: 20px;
    color: #000000;
    box-sizing: border-box;
    margin: 20px;
    outline: none;
}
.consultation-item button {
    width: 69%;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    height: 60px;
    background: #fff;
    border: none;
    text-transform: uppercase;
    font-family: 'montserrat-bold';
}
.brands {
    width: 100%;
    height: 400px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    background: #CBCBCB;
}
.brands a {
    display: block;
    margin: 0 3%;
}
.articles {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.articles-cont {
    width: 77%;
}
.articles-btn {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}
.article {
    width: 30%;
    margin: 1.6%;
    float: left;
    display: flex;
    text-decoration: none;
    flex-direction: column;
}
.article img {
    width: 100%;
}
.article p {
    width: 100%;
    background: #E53A40;
    border-radius: 0 0 18px 18px;
    padding: 10px 15%;
    box-sizing: border-box;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    margin: 0;
}
.post-description{
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

input.learn-more::-moz-placeholder {
    color: #ECCDCD;
}
input.learn-more::-webkit-input-placeholder {
    color: #ECCDCD;
}
input.learn-more:hover::-moz-placeholder {
    color: #bababa;
}
input.learn-more:hover::-webkit-input-placeholder {
    color: #bababa;
}
.img-block{
    width: 100%;

}
.tablet-width .advantage-item{
    margin-left: -36vw;
}
.tablet-width .advantage-item .text{
    width: 35vw;
}
.tablet-width .advantage-item .img{
    width: 34.5vw;
}
@media (min-width: 1600px) {
    .advantages-list ul li a p{
        font-size: 19px;
    }
    .tablet-width .advantage-item{
        margin-left: -480px;
    }
    .tablet-width .advantage-item .text{
        width: 555px;
    }
    .tablet-width .advantage-item .img{
        width: 555px;
    }
    .advantages-list ul li a .active-arrow{
        right: -40px;
    }
    .servers-about-div {

        padding: 32px;

    }
    .header-block{
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .action-outside{
        min-height: 450px;
    }

    .action .add {
        bottom: 32px;
        width: 40px;
        height: 80px;
    }

    .photo .arrow-right {
        position: relative;
        top: -210px;
        left: -70px;
    }
    .review-action-block{
        padding: .6vw 2% !important;
    }
    .photo .arrow-left {
        position: relative;
        top: -210px;
        left: 900px;
    }

    .photo .swiper-pagination-bullets {
        position: relative;
        top: -410px;
        left: 420px;
    }
    .last-work .post-preview p{
        font-size: 20px;
    }
    .characterictic ul li p {

        font-size: 15px;

    }

    .characterictic ul li span {

        font-size: 13px;

    }

    .last-work {
        width: 310px;
        min-height: 400px;
        margin-right: 32px;
    }

    .last-work .img {
        height: 310px;
    }

    .last-work .text {

        top: 10px;

    }

    .advantages-list {

        padding-left: 80px;

    }

    .advantages-list ul li a {

        font-size: 19px;

        height: 48px;

        width: 384px;

        margin: 24px 0;

    }

    .advantages-list ul li a span {

        font-size: 16px;

    }

    .advantages-list h2 {

        font-size: 48px;

    }

    .advantages-list ul .active:after {

        width: 37px;

        height: 37px;

        border-radius: 5px;

        margin-left: 384px;

        right: -15px;

        top: 5.6px;

    }

    .advantage-item {

        margin: 80px 0;

        margin-left: -93px;

    }

    .advantage-item .img img {
        height: 100%;
        position: absolute;
        width: unset;
    }

    .advantage-item .img {
        overflow: hidden;
        width: 360px;
        justify-content: flex-start;
        position: relative;
    }

    .advantage-item .text {

        width: 360px;

    }

    .advantage-item .text h3 {

        font-size: 29px;

        padding: 0 30px;

    }

    .advantage-item .text p {

        font-size: 16px;

        padding: 0 30px;

    }

    .advantage-item a {

        height: 30px;

    }

    .advantage-item a img {

        width: 20px;

        height: 20px;


    }

    .advantage-item a span {

        font-size: 16px;

    }

    .review p {

        font-size: 20px

    }

    .review .big-p {

        font-size: 25px;

    }

    .review .main-p {

        font-size: 27px;

    }

    .review .stars {
        padding: 0 8px;
        height: 42px;
    }
    .review .stars img{
        width: 20px;
        margin: 0 3px;
    }

}

@media (max-width: 1400px) and (min-width: 768px) {
    :root {

        --all-pading: 80px;

    }
    .consultation-item img {
        height: 30vw;
    }
    .consultation-item:nth-child(1) {
        top: -17vw !important;
    }
    .consultation .consult-2 img {
        width: 100% !important;
    }
    .characterictic ul li span{
        font-size: 1.3vw;
    }
    .characterictic ul li p{
        font-size: 1.5vw;
    }
    .review .big-p{
        font-size: 2vw;

    }
}
@media (max-width: 880px) and (min-width: 500px) {
    .consultation-item p {
        font-size: 37px;
    }
    .action {
        min-width: 240px;
    }
    .sorting{
        margin-left: 25px;
    }
    .action .product-name{
        font-size: 2.1vw;
    }

    .last-work .text {
        top: 1vw;
    }
    .last-work .text p {
        font-size: 1vw;
    }
    .action .add {
        bottom: 4vw;
        width: 5vw;
        height: 10vw;
    }
    .characterictic ul li p {
        font-size: 1.5vw;
    }
    .characterictic ul li span {
        font-size: 1.2vw;
    }
    .action-outside{
        min-height: 60vw;
    }
    .advantage-item{
        width: 64vw;
        flex-direction: column-reverse;
    }
    .advantage-item .img{
        width: 100%;
        height: 20vw;
    }
    .advantage-item .text{
        width: 100%;
    }
    .tablet-width .advantage-item{
        width: unset;
        flex-direction: row;
    }
    .tablet-width .advantage-item .img{
        height: unset;
    }
}
@media (max-width: 500px) {
    :root {
        --all-pading: calc(20vw - 70px);
    }
    .tablet-width .advantage-item .text{
        width: 100%;
    }
    .tablet-width .advantage-item .img{
        width: 100%;
    }
    .tablet-width .advantage-item{
        margin-left: 0;
    }
    .advantages-list ul li a p{
        font-size: 15px;
    }
    .advantages-list ul .active .active-arrow{
        display: none;
    }
    .advantages-list ul .active:after{
        display: none;
    }
    .advantages-list ul{
        float: unset;
        width: 100%;
    }
    .service-block{
        background: #F0ECEC;
        float: unset;
        width: 100%;
    }
    .action:hover {
        position: relative;
        height: 100%;
    }
    .action .action-btns{
        display: flex;
    }
    .review-2 .action-outside{
        display: none;
    }
    .last-work{
        width: unset!important;
    }
    .action .stickers-icons li span{
        display: none;
    }
    .action .add {
        bottom: 10vw;
        width: 10vw;
        height: 20vw;
    }
    .action .product-name{
        font-size: 16px;
    }
    .photo .arrow-right {
        left: unset;
        top: 120px;
        width: 8vw !important;
        height: 8vw !important;
    }
    .action-outside{
        min-height: 110vw;
        width: 100%;
    }
    .last-work .img{
        /*height: 100vw;*/
    }
    .consultation-item p{
        font-size: 12vw;
        margin: 10vw 0;
    }
    .consultation-item form{
        padding: 5vw 0;
    }
    .consultation-item form input{
        height: 14vw;
        margin: 5vw 0;
    }
    .last-work .img img{
        max-height: 100vw;
    }
    .photo .arrow-left {
        left: unset;
        top: 120px;
        width: 8vw !important;
        height: 8vw !important;
    }
    .photo .swiper-pagination-bullets {
        top: -20px;
        left: unset;
    }
    .characterictic ul li p {
        font-size: 3.5vw;
    }
    .characterictic ul li span {
        font-size: 3.3vw;
    }
    .top-slider {
        height: 300px;
        margin-bottom: 60px;
    }
    .slider-big-p, .slider-main-p {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .slider-big-p {
        font-size: 22px;
        height: 30px;
        width: 100vw;
        margin: 0;
        padding: 0;
        left: 0;
    }
    .catalog-item-inside {
        box-shadow: none;
        min-height: unset;
    }
    .slider-main-p {
        font-size: 32px;
        left: 0;
    }
    .ph-num {
        display: none;
    }
    .learn-more {
        width: 100vw;
        margin: 0;
        margin-top: 90px;
        border-radius: 0;
    }
    .slider-cntrl {
        right: 0;
        margin-right: 0;
        width: 100vw;
        justify-content: center;
        top: 325px;
    }
    .why-we {
        flex-direction: column;
        padding: 0 20px;
    }
    .why-we-item {
        flex-direction: row-reverse;
    }
    .why-we-item:nth-child(2n-1) {
        flex-direction: row;
    }
    .why-we-item .circle {
        width: 80px;
        height: 80px;
    }
    .why-we-item .circle p {
        font-size: 11px;
        text-align: center !important;
        padding: 0 !important;
    }
    .why-we-item:nth-child(2n-1) p {
        text-align: left;
        padding-left: 10px;
    }
    .why-we-item:nth-child(2n) p {
        text-align: right;
        padding-right: 10px;
    }
    .desc-heating {
        width: 90%;
        margin: 0 auto;
    }
    .desc-heating h1 {
        font-size: 35px;
    }
    .catalog-title {
        padding: 20px !important;
    }
    .catalog {
        padding: 0;
        margin: 0;
    }
    .catalog-item {
        width: 100%;
        margin: 20px 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0px;
    }
    .catalog-item p {
        width: 100%;
        border-radius: 0px;
    }
    .catalog-item ul {
        padding: 0;
        margin: 0;
        height: 95px;
        display: flex;
        flex-wrap: wrap;
    }
    .catalog-item ul li {
        margin: 5px 0;
        padding: 0;
        width: 50%;
    }
    .catalog-item ul li a {
        padding: 0;
        border: 1px solid #C8C8C8;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0;
        height: 40px;
        width: 100%;
    }
    .catalog-item .add {
        width: 100%;
        border-radius: 0;
        height: 45px;
        margin-top: 8px;
    }
    .catalog-item .add .plus {
        width: 35px;
        height: 35px;
    }
    .advantages {
        display: block;

    }
    .advantage-item {
        flex-direction: column-reverse;
        margin: 0;
    }
    .advantage-item .text {
        width: 100%;
        margin-top: -18px;
        background-color: #fff;
        border-radius: 18px;
        z-index: 50;
    }
    .advantage-item .text p {
        font-size: 4vw;
    }
    .advantage-item .text h3 {
        font-size: 5vw;
    }
    .advantage-item .text a {
        height: 10vw;
        border-radius: 0;

    }
    .advantage-item .text a img {
        width: 5vw;
        height: 5vw;
        margin-right: 3vw;
    }
    .advantage-item .text a span {
        font-size: 3vw;
    }
    .advantage-item .img {
        width: 100%;
        /*height: 100vw;*/
    }
    .advantages-list {
        width: 100%;
        border-radius: 0;
        background: #F0ECEC;
        padding: 0;
        padding-bottom: 5px;
    }
    .advantages-list h2 {
        font-size: 27px;
        margin-left: 10px;
        padding-top: 27px;
    }
    .advantages-list ul li a {
        width: 100%;
        border-radius: 0;
        height: 50px;
        font-size: 15px;
    }
    .advantages-list .service-block ul li .sub_services ul li a{
        background: #e2e2e2;
    }
    .advantages-list .service-block ul li .sub_services ul li a.active{
        background: #be2f34;
    }
    .advantages-learn-more{
        background: #E53A40!important;
        color: #fff!important;
        flex-direction: row!important;
        justify-content: flex-start!important;
    }
    .advantages-list ul li a span {
        font-size: 10px;
    }
    .advantages-list ul a .active:before {
        display: none;
    }
    .images img {
        width: 100%;
    }
    .actions {
        padding: 0;
    }
    .action {
        width: 100%;
        margin: 5%;
        display: none;
    }
    .action:nth-child(1) {
        display: flex;
    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .buttons img {
        width: 10%;
        filter: invert(50%);
        margin: 0 10%;
    }
    .buttons img:nth-child(1) {
        transform: rotate(180deg);
    }
    .last-work {
        width: 90%;
        margin: 5%;
        /*min-height: 110vw;*/
    }
    .last-work .img {
        width: 90vw;
    }
    .last-work .text {
        height: unset;
        width: 100%;
    }
    .action-learn-more {
        margin: 5%;
        width: 90%;
    }
    .articles-btn {
        display: none;
    }
    .articles-cont {
        width: 100%;
    }
    .article {
        width: 100%;
        margin: 3% 0;
    }
    .article p {
        font-size: 20px;
        padding: 30px 0;
        border-radius: 0;
    }
    .review {
        flex-direction: column-reverse;
        text-align: center;
        width: 80%;
    }
    .review .big-p {
        font-size: 4vw;
    }
    .review p {
        font-size: 1.5vw!important;
    }
    .review-img {
        width: 100%;
    }
    .review-btn {
        font-size: 8vw;
        width: 10%;
    }
    .review .stars {
        width: 100%;
        height: 6vw;
        border-radius: 4vw;
        display: flex;
        justify-content: center;
        margin-top: -20px;
    }
    .review .stars img {
        width: 5vw;
        margin: 0 1vw;

    }
    .consult-2 {
        top: -20vw !important;
    }
}
.photo{
    background-image: url("../image/Rectangle 69.png")!important;
}

.slider-realized {
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 7vw;
    position: relative;
}

.secondary-slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-slide img {
    height: auto;
    width: 33%;
}
.slider-realized-current img{
    display: none;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.slider-realized-current {
    position: absolute;
    width: 56vw;
    left: 22vw;
    top: 0;
}

.slider-realized-oper {
    width: 100%;
    padding: .6vw 10%;
    height: 7vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
}

.slider-realized-oper .arrow {
    width: 2.6vw;
    height: 2.5vw;
    border-radius: 100px;
    display: flex;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: .1vw solid #000;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 200;
}

.slider-realized-oper .arrow img {
    width: 1.8vw;
    filter: invert(100%);
}

.slider-realized-oper .arrow-left {
    transform: rotate(180deg);
}

.slider-realized-oper .arrow:hover {
    border: none;
    background: #E53A40;
}

.slider-realized-oper .arrow:hover img {
    filter: invert(0);
}

.slider-realized-oper .slides {
    position: static;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.slider-realized-oper .slides span {
    width: .8vw;
    height: .8vw;
    border-radius: 20px;
    border: 1px solid #E53A40;
    transition: background .2s;
    cursor: pointer;
    margin: 0 .8vw;
}

.slider-realized-oper .slides span:hover {
    background: #E53A40;
}

@media (min-width: 1600px) {
    .slider-realized-current {
        left: 352px;
        width: 896px;
    }
    .action .product-name{
        font-size: 18px;
    }
    .slider-realized-oper .arrow {
        width: 54px;
        height: 50px;
        border: 2px solid #000;
    }

    .slider-realized-oper .arrow img {
        width: 22px;
    }

    .slider-realized-oper .slides span {
        width: 16px;
        height: 16px;
        margin: 0 16px;
    }

    .slider-realized-oper {
        height: 120px;
    }

    .slider-realized {
        margin-top: 50px;
        margin-bottom: 120px;
    }
}
@media (max-width: 1400px) and (min-width: 768px) {
    .slider-realized-oper .arrow{
        width: 3.2vw;
        height: 3.2vw;
    }
    .slider-realized-oper .arrow img{
        width: 1.6vw;
    }
}
@media (max-width: 768px) {
    .secondary-slide {
        display: none;
    }
    .last-work{
        max-width: unset;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .last-work div:first-child{
        width: 100%!important;
    }
    .last-work .img{
        height: unset!important;
        width: 100%!important;
    }
    .last-work .img img{
        width: 100%;
    }
    .slider-realized-current {
        position: relative;
        width: 93vw;
        left: 3.2vw;
    }

    .slider-realized-oper {
        padding: 3vw 5%;
        top: 0 !important;
    }

    .slider-realized-oper .arrow {
        width: 8vw;
        height: 8vw;
    }

    .slider-realized-oper .arrow img {
        width: 4vw;
    }

    .slider-realized-oper .slides {
        margin-top: -2.5vw;
    }

    .slider-realized-oper .slides span {
        width: 2vw;
        height: 2vw;
        margin: 0 2vw;
    }
    .consultation {
        flex-direction: column;
        height: 170vw;
        justify-content: flex-end;
        margin-top: 50vw;
    }
    .consultation.block-1{
        height: 200vw;
    }
    .consultation-item {
        top: 0 !important;
        width: 100%;
    }
    .consultation-item img {
        width: 87%;
        height: unset;
    }
    .consultation:nth-of-type(2) .consultation-item img{
        margin-bottom: 20vw;
    }
    .consultation-item form {
        width: 100%;
        background: none;
    }
    .consultation-item form input {
        width: 100%;
        background: #000;
        opacity: .5;
    }
    .consultation-item button {
        width: 95%;
        margin: 2.5%;
    }
}
.posts-slider .top-slider div{
    position: absolute;
    width: 100%;
    height: 100%;

}
.posts-slider img{
    height: 100%;
    width: auto;
}
.display-flex{
    display: flex;
}