body{
	margin: 0;
	padding: 0;
	font-family: "montserrat";
}
@font-face {
	font-family: "montserrat"; 
	src: url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
} 
@font-face {
	font-family: "montserrat-bold"; 
	src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
	font-style: normal; 
	font-weight: normal; 
}
header{
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
	background: #fff;
	font-weight: 700;
}
.currencies{
	position: absolute;
	z-index: 6;
	right: calc(13% - 160px);
	padding: 10px 20px;
	background: #fff;
	border-radius: 5px;
	width: 7vw;
	display: none;
}
.currency-select{
	padding: 5px 10px;
	border-bottom: 1px solid #aaa;
	cursor: pointer;
}
.container{
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}
.top-header-line{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #C02739;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0  calc(20% - 100px);
	padding-right: calc(13% - 100px);
}
.tile-footer {
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 15px;
}
.description_block{
	padding: 40px;
}
.desc-heating a{
	color: #737575!important;
}
.alert {
	padding: 8px 14px 8px 14px;
	margin-bottom: 20px;
	box-sizing: border-box;
	top: 40vh;
	left: calc(50vw - 200px);
	position: fixed;
	z-index: 999;
	width: 400px;
	text-align: center;
	height: max-content;
	color: white;
	font-size: 20px;
	border-radius: 18px;
	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	-moz-transition: all 2s ease;
	transition: all 2s ease;
}
.alert.close-block{
	opacity:0;
}
.alert-success {
	background-color: #e3a4a6;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	position: absolute!important;
	right: 21px;
	top: 10px!important;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}
.alert-dismissable .close, .alert-dismissible .close {
	position: relative;
	top: -2px;
	color: inherit;
}
.top-header-line nav{
	padding: 0;
	margin: 0;
}
.header-clouser{
	display: none;
}
.top-header-line nav ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.top-header-line nav ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	height: 50px;
	font-size: 13px;
	letter-spacing: 0.08em;
	display: flex;
	text-align: center;
	align-items: center;
	padding: 0 1.7vw;
}
.top-header-line nav ul li a:hover{
	background: #fff;
	color: #000;
}
.search-btn{
	height: 20px;
	padding: 0 5px;
	margin-left: calc(10% - 509px);
	cursor: pointer;
}
.search-btn:hover{
filter: invert(100%);
background: #000;
padding: 15px 5px;
}
.search{
	display: flex;
	position: relative;
	align-items: center;
	height: 50px;
	background-color: #fff;
	width: 509px;
	right: -100vw;
	transition: right 1s;
}
.search-enter{
	cursor: pointer;
	margin: 0 20px;
	filter: invert(100%);
}
.search-input{
	background-color: #fff;
	border: none;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	width: 70%;
	padding-left: 20px;
	height: 30px;
	outline: none;
}
.search-close{
	width: 30px;
	height: 30px;
	position: absolute;
	margin-left: 90%;
	top: 8px;
	cursor: pointer;
}
.search-close::before{
	content: '';
	width: 30px;
	height: 2px;
	margin-top: 14px;
	transform: rotate(45deg);
	position: absolute;
	background-color: #000;
}
.search-close::after{
	content: '';
	width: 30px;
	height: 2px;
	margin-top: 14px;
	transform: rotate(-45deg);
	position: absolute;
	background-color: #000;
}
.soc-netw{
	display: flex;
	align-items: center;
}
.soc-netw a{
	display: flex;
	align-items: center;
	justify-content: center;
}
.soc-netw a img{
	height: 25px;
	margin: 0 1vw;
}
.soc-netw a:hover{
	background: #fff;
	height: 50px;
}
.soc-netw a:hover img{
	filter: invert(100%);
}
.midle-header-line{
	width: 100%;
	height: 100px;
	display: flex;
	background-color: #fff;
	align-items: center;
	padding: 0  calc(13% - 100px);
	box-sizing: border-box;
	justify-content: space-between;
}
.midle-header-line .main-name{
	display: flex;
	flex-direction: column;
	margin-left: 2vw;
	margin-bottom: 23px;
	align-items: center;
}
.block-logo img{
	width: 90px;
}
.midle-header-line .main-name p{
	margin: 0;
	font-size: 20px;
}
.midle-header-line .main-name .main-p{
	font-weight: bold;
	letter-spacing: 0.04em;
	font-family: "montserrat-bold"; 
	margin: 0;
	transform: translateY(.3vw);
	font-size: 45px;
}
.adress{
	display: flex;
	flex-direction: column;
	margin-left:calc(12% - 40px) ;
	align-items: center;
}
.midle-header-line .adress p{
	margin: 0;
	font-size: 12px;
	text-align: center;
}
.block-logo{
	display: flex;
	align-items: center;
}
.midle-header-line .adress .main-p{
	font-weight: bold;
	margin: 0;
	font-size: 20px;
}
.phone-num{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 1vw;
}
.phone-num p{
	margin: 3% 0;
}
.bottom-header-line{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0  calc(13% - 100px);
	box-sizing: border-box;
	background-color: #C02739;
	z-index: 10;
	top: 0;
}
.bottom-header-line nav{
	margin-left: 0;
}
.bottom-header-line nav ul{
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.bottom-header-line nav ul li a{
	padding: 0 .5vw;
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
	height: 30px;
	border-left: 1px solid #fff;
	box-sizing: border-box;
}
/*.bottom-header-line nav ul li a:first-child{
	border-left: none;
}*/
.bottom-header-line nav ul li a img{
	width: 20px;
	margin: 0 5px;
	position: relative;
}
@media(max-width: 1000px){
.currencies{
	right: 0;
}
.bottom-header-line nav ul li a span{
	display: none;
}
.bottom-header-line nav ul li a{
	padding: 0 2vw;
}
.bottom-header-line nav ul li a img{
	width: 30px;
}
.midle-header-line .adress .main-p{
	font-size: 14px;
}
.phone-num p{
	font-size: 13px;
}
.order_call-inputs{
	left: 49vw;
}
}
.bottom-header-line nav ul li a:hover{
	height: 60px;
	color: #000;
	background-color: #fff;
}
.bottom-header-line nav ul li a:hover img{
	filter: invert(100%);
}
.order_call{
	padding: 0 1vw;
	height: 30px;
	width: 216px;
	justify-content: center;
	background-color: #fff;
	color: #000;
	text-transform: uppercase;
	font-size: 12px;
	display: flex;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
	box-sizing: border-box;
}

.order_call:hover{	
	background-color: #C02739;
	color: #fff;
}
.operations{
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;

}
.operations li a{
	padding: 0 1vw;
}
.operations li a img{
	width: 25px;
}
.operations li a:hover{
	height: 60px;
	display: flex;
	align-items: center;
	background-color: #fff;


}
.operations li a:hover img{
	filter: invert(100%);
}
.order_call-inputs{
	width: 216px;
	height: 90px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: absolute;
	top: -400px;
	z-index: 999;
	transition: 1s;
	left: calc(48vw - 108px) !important;
	margin-left: 200px;
}
.order_call-inputs input{
	height: 30px;
	background-color: #fff;
	outline: none;
	border: none;
	border-bottom: .1px solid #666;
}
.order_call-inputs button{
	height: 30px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: #C02739;
	color: #fff;
}
.call-header{
	display: none;
}
.under-menu{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	max-width: 1600px;
	position: absolute;
	top: 210px;
	display: none;
	z-index: 100;
	justify-content: flex-start;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 0 calc(11% - 90px);
}
.under-menu:target{
	display:flex;
}
.under-menu .close-menu{
	width: 20px;
	height: 20px;
	position: absolute;
	margin-left: 91%;
	margin-top: 20px;
	display: block;
}
.under-menu .close-menu:before{
	width: 20px;
	height: 2px;
	content: '';
	background-color: #000;
	position: absolute;
	margin-left: 10px;
	transform: rotate(45deg);
}
.under-menu .close-menu:after{
	width: 20px;
	height: 2px;
	content: '';
	background-color: #000;
	position: absolute;
	margin-left: 10px;
	transform: rotate(-45deg);
}
.under-menu .menu-item{
	width: 180px;
	cursor: pointer;
	display: flex;
	text-align: center;
	justify-content: flex-start;
	padding: 10px 10px;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	flex-direction: column;
	align-items: center;
	border: 1px solid #eee;
	border-top: none;
	color: #000;
}
.under-menu .menu-item:hover{
	box-shadow: 2px 2px 7px -4px;
}
.under-menu .menu-item img{
	height: 50px;
	max-width: 100%;

}
.menu-item p{
	font-size: .8vw;
	font-weight: 400;

}
footer{
	display: flex;
	height: 394px;
	align-items: flex-start;
	padding: 20px 5vw;
	max-width: 1600px;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	background: #E7E7E7;
}
.map{
	width: 330px;
	height: 360px;
	display: flex;
	justify-content: center;
}
.map iframe{
	width: inherit;
	max-width: 394px;
	height: inherit;
}
.other_info{
	text-align: center;
	width: 30vw;
	padding: 0 2vw;
}
.other_info .main-p{
	margin-top: 50px;
	font-weight: bold;
	font-size: 32px;
	text-transform: uppercase;
}
.we_in_soc{
	width: 28vw;
	text-align: center;
}
.we_in_soc .main-p{
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
}
.we_in_soc-item{
	width: 80%;
	margin: auto;
	height: 40px;
	background: #fff;
	border-radius: 10px;
	margin-top: 15px;
	box-shadow: 2px 2px 10px -5px;
}
.we_in_soc-item a{
	width: 90px;
	height: inherit;
	border-radius: 10px;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.we_in_soc-item a img{
	height: 30px;
}
.conf-info{
	max-width: 1600px;
	margin: 0 auto;
	height: 30px;
	text-align: center;
	font-size: 10px;
	display: flex;
	background: #C4C4C4;
	align-items: center;
	justify-content: center;
}

@media(min-width: 1500px){
.order_call-inputs{
	margin-left: 187px;
}
.menu-item p{
	font-size: 14px;
}
}
@media(min-width: 2000px){
.order_call-inputs{
	margin-left: 160px;
}
}
@media(max-width: 1400px) and (min-width: 768px){
.order_call-inputs{
	margin-left: 190px;
}
}
@media(max-width: 1000px) and (min-width: 768px){
.bottom-header-line nav ul li a span{
	display: none;
}

.adress{
	margin-left: 0;
}

.bottom-header-line nav ul li a{
	padding: 0 2vw;
}
.bottom-header-line nav ul li a img{
	width: 30px;
}
.midle-header-line .adress .main-p{
	font-size: 14px;
}
.phone-num p{
	font-size: 11px;
}
.order_call-inputs{
	margin-left: 100px;
}
}
@media(max-width: 767px){
.currencies{
	top: 12.5vw;
	position: fixed;
}
header{
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100vw;
	z-index: 50;
}
.header-clouser:before{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 6vw;
	height: 2px;
	background: #000;
	transform: rotate(45deg);
}
.header-clouser:after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 6vw;
	height: 2px;
	background: #000;
	transform: rotate(-45deg);
}
.header-clouser{
	width: 5vw;
	height: 5vw;
	top: 6vw;
	right: 4vw;
	position: absolute;
	opacity: .5;
	display: flex;
}
.top-header-line{
	order: 3;
	height: unset;
	flex-direction: column;
	background: #fff;
	display: none;
}
.midle-header-line{
	order: 1;
	height: unset;
	flex-wrap: wrap;
	align-items: flex-start;
	display: none;
}
.bottom-header-line{
	order: 2;
	flex-direction: column;
	height: unset;
	background: #fff;
	background: #E53A40;
	height: 12.5vw;
	align-items: flex-end;
	justify-content: center;
}
.call-header{
	display: block;
	position: fixed;
	top: 3.1vw;
	left: 4.7vw;
}
.operations li a{
	padding: 0;
	margin-right: 3.9vw;
}
.operations li a img{
	width: 7.8vw;
}
.phone-num{
	display: none;
}
.operations{
	margin: 0;
	padding: 0;
}
.logo{
	margin: 0;
	width: 14vw;
	margin-left: 8vw;
	margin-top: 14.5vw;
}
.logo img{
	width: 100%;
}
.midle-header-line .main-name{
	margin: 0;
	margin-top: 14.4vw;
	margin-left: 4.7vw;
	align-items: flex-start;
}
.midle-header-line .main-name .main-p{
	font-size: 7.5vw;
}
.midle-header-line .main-name p{
	font-size: 3.7vw;
	font-weight: 400;
}
.adress{
	margin: 0;
	position: absolute;
	top: .3vw;
	left: 3.4vw;
	opacity: .5;
}
.midle-header-line .adress .main-p{
	letter-spacing: 0.05em;
	color: #000000;
	font-weight: 400;
	font-size: 3.7vw;
}
.adress p{
	letter-spacing: 0.05em;
	color: #000000;
	font-weight: 400;
	font-size: 2.8vw;
}
.bottom-header-line nav ul li a span{
	display: block;
	font-weight: 400;
	color: #000;
	font-size: 3.7vw;
}
.bottom-header-line nav ul{
	flex-direction: column;
	padding: 0;
	align-items: flex-start;
	width: 100vw;
}
.bottom-header-line nav ul li{
	width: 100%;
}
.bottom-header-line nav ul li a{
	height: 11.5vw;
	border: none;
	border-bottom: 0.5px solid rgba(0, 0, 0, .2);
	width: 100%;
	padding-left: 31vw;
	box-sizing: border-box;
}
.bottom-header-line nav ul li a img{
	width: 6.9vw;
	filter: invert(100%);
}
.bottom-header-line nav{
	margin: 0;
	width: 100%;
	display: none;
}
.search{
	width: 100vw;
	position: absolute;
	left: 0;
	top: 31vw;
	height: 12.5vw;
	flex-direction: row-reverse;
	background: #E53A40;
	padding: 0;
	justify-content: flex-end;
}
.search-close{
	display: none;
}
.search-input{
	border-left: none;
	border-right: 1px solid #fff;
	height: 8vw;
	margin: 0;
	background: none;
	box-sizing: border-box;
	padding-left: 3.75vw;
	width: 86.2vw;
	color: #fff;
	opacity: .5;
	font-size: 3.1vw;
	letter-spacing: 0.08em;
}
.search-enter{
	filter: none;
}
.search-enter img{
	width: 5.8vw;
}
.swiper-viewport{
	box-sizing: border-box;
}
.top-header-line nav ul{
	padding: 0;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: -5vw;
}
.top-header-line nav{
	margin: 0;
	width: 100%;
	position: relative;
	top: -12.5vw;
}
.top-header-line nav ul li a{
	padding: 0;
	height: 9.3vw;
	width: 47vw;
	justify-content: center;
	background: #F5F5F5;
	font-size: 3.3vw;
	color: #000;
	font-weight: 400;
	letter-spacing: 0.05em;
	margin-bottom: 3.1vw;
}
.order_call{
	height: 12.5vw;
	border-radius: 0;
	width: 100vw;
	justify-content: center;
	background: #E53A40;
	font-size: 3.7vw;
	font-weight: 800;
	color: #fff;
	margin: 0;
	position: relative;
	display: none;
	top: 33vw;
}
.soc-netw a:hover{
	height: unset;
}
.soc-netw a img{
	filter: invert(100%);
	height: unset;
	width: 9.3vw;
	margin: 0;
}
.soc-netw{
	margin: 0;
	width: 100%;
	justify-content: space-around;
	margin-bottom: 2vw;
}
.under-menu{
	position: sticky;
}
.under-menu .menu-item{
	width: 50vw;
	height: unset;
}
.under-menu .menu-item img{
	filter: none;
	height: unset;
	width: 30%;
	object-fit: cover;
	aspect-ratio: 1/1;
}
.menu-item p{
	font-size: 3vw;
	margin: 0;
	margin-top: .3vw;
}
.bottom-header-line nav ul li a:hover{
	height: 11.5vw;
}
footer{
	flex-direction: column;
	height: unset;
	padding: 0;
	padding-top: 30px;
	width: 100vw;
}
.map{
	width: 90vw;
	height: 90vw;
}
.map iframe{
	max-width: unset;
}
.other_info{
	width: 90vw;
}
.we_in_soc{
	width: 90vw;
	padding-left: 5vw;
	padding-bottom: 30px;
}
.we_in_soc-item{
	width: 35vw;
	height: 50px;
	float: left;
	margin-left: 5vw;
}
.we_in_soc-item a{
	width: 100%;

}
.conf-info{
	height: 63px;
}
}
@media(max-width: 400px){
.midle-header-line .main-name h1{
	font-size: 30px
}
.midle-header-line .main-name p{
	font-size: 14px;
}
}