.category-header{
	font-size: 56px;
	font-weight: 800;
	margin-left: -4px;
	margin-bottom: -20px;
	margin-top: 20px;
	padding-left: var(--all-pading);
}
.category-nav{
	width: 100%;
	padding-left: var(--all-pading);
	padding-top: 30px;
}
.category-nav-item{
	font-size: 12px;
	float: left;
	margin-right: 15px;
}
.category-nav-item a{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}
.container-products{
	width: 100%;
	padding: 0 var(--all-pading);
	margin-top: 3vw;
	display: flex;
}
.catalog_banner{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.filter{
	width: 20%;
}
.filter .mob{
	display: none;
}
.filter .price{
	width: 100%;
	box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.35);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.filter .price p{
	font-size: 14px;
	font-weight: bold;
	margin-left: -75%;
	padding-top: 1vw;
}
.inputs{
	margin-top: 1vw;
	display: flex;
	align-items: center;
	margin-left: 9%;
}
.inputs input::-webkit-outer-spin-button,
.inputs input::-webkit-inner-spin-button{
 -webkit-appearance: none;
}
.inputs input{
	width: 35%;
	height: 30px;
	border-radius: 5px;
	padding-left: 10px;
	box-sizing: border-box;
	justify-content: space-around;
	outline: none;
}
.inputs span{
	width: 10%;
	margin: 0 5%;
	background-color: #000;
	box-sizing: border-box;
	height: 2px;
}
.price-slider{
	-webkit-appearance: none;
	width: 80%;
	padding-left: -20px;
	margin-left: 10%;
	height: 5px;
	margin-top: 30px;
	border-radius: 5px;
	outline: none;
	background: linear-gradient(270.01deg, #E53A40 0%, rgba(229, 58, 64, 0.35) 97%);
}
.price-slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 11px;
	height: 11px;
	border-radius: 5px;
	background: #000;
}
.price button{
	height:30px;
	width: 40%;
	border: 2px solid #000;
	border-radius: 5px;
	margin: .8vw 0;
	background: #fff;
	text-transform: uppercase;
	cursor: pointer;
	box-sizing: border-box;
	outline: none;
}
.price button:hover{
	border: 3px solid #E53A40;
	color: #E53A40;

}
.other-filter{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2vw;
}
.select{
	font-size: 14px;
	letter-spacing: 0.08em;
	outline: none;
	color: #000;
	border: none;
	display: flex;
	margin: 1vw 0;
	width: 80%;
}
.select option{
	-webkit-appearance: none;
	max-width: 100px;
}
.products-and-category{
	width: 80%;
	display: flex;
	flex-direction: column;
}
.products{
	padding: 0!important;
}
.category{
	width: 100%;
	height: 39vw;
	overflow: hidden;
	display: flex;
	transition: .5s;
	flex-wrap: wrap;
}
.category.expand{
	height: auto;
	transition: .5s;
}
.look-more.expand button img{
	transform: rotate(-90deg);
}
.category-item{
	width: 20%;
	height: 18vw;
	margin: .5vw 2.5%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	display: flex;
	float: left;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	justify-content: center;
}
.category-item img{
	max-width: 60%;
	margin: 0 auto;
	margin-top: 2vw;
	max-height: 12vw;
}
.category-item p{
	font-size: 1vw;
	padding: 1.8vw 0;
	margin: auto;
	text-align: center;
	color: #000;
}
.category-item:hover p{
	font-weight: 800;
}
.look-more{
	width: 100%;
	display: flex;
	justify-content: center;
}
.look-more button{
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background: #E53A40;
	border: none;
	outline: none;
	cursor: pointer;
}
.look-more button img{
	width: 20px;
	transform: rotate(90deg);
}
.sorting{
	width: 100%;
	display: flex;
	margin-top: 20px;
	justify-content: center;
}
.sorting-item{
	display: flex;
	margin-right: 2vw;
	flex-wrap: wrap;
}
.sorting-item p{
	font-size: 16px;
	display: flex;
	width: 100%;
	text-transform: uppercase;
	margin-right: .5vw;
}
.select-sorting{
	border: none;
	font-weight: 600;
	padding-right: 30px;
	outline: none;
	min-height: 40px;
	width: 100%;
}
.products{
	width: 130%;
	margin-top: 20px;
}
.show-more{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.show-more span{
	margin: 0 10px;
	transform: rotate(90deg);
}
.reviews-2{
	align-items: center;
	width: 100%;
}
.review-2{
	width: 100%;
	display: flex;
	margin-bottom: 3vw;
	min-height: 580px;
	align-items: flex-start;
}
.review-2:nth-of-type(2n) .info{
	background: #E8E8E8;
}
.review-2 .info{
	width: 70%;
	background: rgba(218,215,215,12%);
	transition: .5s;
	display: flex;
	font-size: 1vw;
	flex-wrap: wrap;
	flex-direction: row;
	padding-left:  40px;
	padding-right: 7%;
	box-sizing: border-box;
	min-height: 510px;
}
.review-2:hover .info{
	background: #E7E7E7;
}
.review-2 .product{
	display: none;
}
.review-2 .action{
	margin: 30px 0;
	margin-left: -40px;
}
.review-2 .info .coment{
	width: 100%;
}
.review-2 .info .plus{
	width: 45%;
	margin-right: 5%;
	float: left;
}
.review-2 .info .minus{
	width: 50%;
}
.review-2 .info div .main-p{
	font-weight: 700;
	font-size: 1.6vw;
}
.review-2 .info .name{
	font-size: 1.7vw;
	text-align: right;
	text-transform: uppercase;
	width: 100%;
	margin-bottom: -2vw;
}
.review-2 .info .func{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}
.review-2 .info .func a{
	display: flex;
	align-items: center;
	cursor: pointer;
	opacity: .6;
	color: #000;
	text-decoration: none;
	font-weight: 500;
	transition: .5s;
	padding: 1vw 0;
}
.review-2 .info .func a:hover{
	opacity: 1;
}
.review-2 .info .func a img{
	margin: 0 7px;
}
.review-2 .info .func a span{
	margin: 0 4px;
}
.review-3{
	width: 95%;
	margin: 0 auto;
}
.other-information{
	padding-right: 5%;
	margin-top: 3%;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}
.other-information img{
	margin-right: 3%;
	margin-top: 4%;
	width: 35%;
	height: auto;
	float: left;
}
.other-information .info{
	width: 60%;
	float: left;
}
.other-information .info p{
	font-size: 1vw;
}
.filter_mob_button{
	display: none;
}
@media(max-width: 767px){
.filter_mob_button{
	display: block;
	position: absolute;
}
.container-products{
	flex-direction: column;
	padding: 0;
}
.review-2 .action{
	margin-left: 0;
}
.review-2{
	align-items: center;
}
.filter{
	width: 100%;
	position: fixed;
	height: 100vh;
	top: 0;
	display: none;
	z-index: 200;
	background: #fff;
}
.filter .price{
	width: 94%;
	margin: 0 auto;
}
.filter .price .inputs input{
	height: 40px;
}
.filter .price button{
	height: 40px;
	margin: 5vw 0;
}
.filter .select{
	font-size: 4.5vw;
	margin: 3.4vw 0;
}
.products-and-category{
	width: 100%;
}

.products{
	width: 100%;
}
.category-item{
	width: 50%;
	height: unset;
	margin: 0;
	padding: 1vw;
	box-shadow: none;
	text-align: left;
	flex-direction: row-reverse;
	border-bottom: 2px solid rgba(0, 0, 0, .2);
	border-radius: 0;
	box-sizing: border-box;
	border-right: 2px solid rgba(0, 0, 0, .2);
	justify-content: flex-end;
}
.category-item:nth-child(2n){
	flex-direction: row;
	text-align: right;
	border-right: 0;
}
.category-item img{
	width: 25%;
	margin: 0 6%;
}
.category-item p{
	font-size: 3.7vw;
	width: unset;
	height: unset;
	margin: 0;
	padding: 0;
	letter-spacing: 0.08em;
	word-break: break-word;
	text-align: left;
}
.review-2 {
	flex-direction: column-reverse;
}
.review-2 .info{
	width: 100%;
	padding: 0 15px;
	flex-wrap: nowrap;
	flex-direction: column;
	font-size: 3.5vw;
}
.review-2 .info .plus{
	width: 100%;
	margin: 0;
}
.review-2 .info .minus{
	width: 100%;
}
.review-2 .info div .main-p{
	font-size: 4vw;
	opacity: .5;
}
.review-2 .info .name{
	font-size: 4vw;
	text-align: left;
	font-weight: bold;
}
.review-2 .action{
	display: block;
	position: relative;
	/*right: -8000px;*/
	height: 0px;
}
.review-2 .product{
	text-transform: uppercase;
	display: block;
	width: 100%;
	font-size: 4vw;
	position: relative;
	top: 2vw;
}
.review-2 .product a{
	margin-left: 2vw;
	font-weight: bold;
	color: #000;
}
.review-2 .info .func{
	flex-direction: column-reverse;
	align-items: flex-start;
}
.review-2 .info .func a{
	padding: 2vw 0;
}
.look-more{
	margin-top: 3vw;
}
.sorting{
	flex-direction: column;
	padding-left: 10px;
}
.category-header{
	font-size: 30px;
	opacity: .5;
	margin: 15px 0;
}
.images{
	margin-top: 0;
}
.filter_mob_button{
	top: 220px;
}
.filter .mob{
	display: flex;
	align-items: center;
}
.filter .mob button{
	width: 60px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: #E53A40;
	border: none;
	outline: none;
}
.filter .mob button img{
	width: 40%;
	transform: rotate(180deg);
}
.filter .mob h2{
	margin-left: 3%;
	font-weight: 400;
	opacity: .5;
}
.other-information{
	padding: 0;
}
.other-information img{
	width: 100%;
}
.other-information .info{
	width: 100%;
	padding: 0 3vw;
	box-sizing: border-box;
}
.other-information .info p{
	font-size: 3vw;
}
.other-information .info .main-p{
	font-size: 5vw;
}
}
#category-content{
	padding: 40px;
}