.features{
	width: 18%;
	text-transform: uppercase;
	font-size: .9vw;
}
.features ul{
	width: 100%;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.features ul li{
	width: 3.1vw;
	height: 3vw;
	background: #E53A40;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	border-radius: 5px;
}
.features ul li img{
	width: 35%;
	margin: auto;
}
.features ul li span{
	font-weight: 100;
	font-size: .6vw;
}
.features ul li:after{
	content: attr(data-text);
	position: absolute;
	background: #FFF;
	padding: 10px;
	max-width: 200px;
	color: #000;
	border-radius: 10px;
	transform: translateY(76px);
	opacity: 0;
	visibility: hidden;
	box-shadow: 0px 0px 4px -2px;
}
.features ul li:hover::after{
	opacity: 1;
	visibility: visible;
}
.parametrs{
	width: 20%;
}
.parametrs ul{
	font-size: .7vw;
	padding-left: 0;
	width: 100%;
}
.parametrs ul li{
	margin-top: -.6vw;
	list-style: url("../../../../../images/Vector (3).png");
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.parametrs ul li p{
	width: 40%;
}
.parametrs ul li span{
	margin-left: .5vw;
	text-align: left;
	width: 60%;
	color: #000;
}
.disired{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 2vw calc(var(--all-pading)/ 1.4);
	box-sizing: border-box;
}
.disired:nth-child(2n){
	background: #F0F0F0;
}
.disireds{
	margin-bottom: 7vw;
	text-align: center;
}
.disired .img{
	height: 100px;
}
.disired .img img{
	height: 100%;
}
.product-info{
	margin-top: 0;
}
.product-info .main-p{
	font-size: 1.2vw;
	text-transform: uppercase;
	margin: 0;
	font-weight: 800;
}
.product-info .old-price{
	font-size: 1vw;
	margin: 0;
	margin-top: 1vw;
}
.product-info .new-price{
	font-size: 1.3vw;
	margin: .3vw 0;
}
.product-backet{
	width: 10%;
	display: flex;
	align-items: center;justify-content: center;
	cursor: pointer;
}
@media(min-width: 1600px){
.features{
	font-size: 14px;
}
.features ul li{
	width: 50px;
	height: 48px;
}
.features ul li span{
	font-size: 12px;
}
.parametrs ul{
	font-size: 12px;
}
.parametrs ul li{
	margin-top: -8px;
}
.parametrs ul li span{
	margin-left: 8px;
}
.disired{
	padding: 32px calc(var(--all-pading)/ 1.4);
}
.product-info .main-p{
	font-size: 18px;
}
.product-info .old-price{
	font-size: 16px;
	margin-top: 16px;
}
.product-info .new-price{
	font-size: 22px;
	margin: 5px 0;
}
.disireds{
	margin-bottom: 120px;
}
}
@media(max-width: 767px){
.disired{
	flex-wrap: wrap;
	align-items: flex-start;
	position: relative;
	overflow: hidden;
	height: 29vw;

}
.disired:hover{
	height: unset;
}
.disired .img{
	width: 25%;
}
.product-info{
	width: 75%;
}
.product-info .main-p{
	font-size: 4vw;
}
.product-info .old-price{
	font-size: 4vw;
}
.product-info .new-price{
	font-size: 5vw;
}
.product-backet{
	position: absolute;
	right: 5vw;
	top: 13vw;
	width: 10vw;
}
.parametrs{
	width: 100%;
	padding: 0 3vw;
	box-sizing: border-box;
}
.parametrs ul{
	font-size: 3.5vw;
}
.features{
	width: 100%;
}
.features ul li{
	width: 11vw;
	height: 10vw;
	font-size: 3.1vw;
}
.features ul li span{
	font-size: 2.3vw;
}
}