
.category-header{
	font-size: 3.5vw;
	font-weight: 800;
	padding-left: calc(var(--all-pading)/ 1.4);

	margin-bottom: 30px;
}
.slider-btn-control{
	position: absolute;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.category-nav{
	width: 100%;
	padding: 0 calc(var(--all-pading)/ 1.4);
	padding-top: 40px;
}
.category-nav-item{
	font-size: 12px;
	float: left;
	margin-right: 15px;
}
.category-nav-item a, .category-nav-item span{
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}
#vertical-ticker li{
	cursor: pointer;
}
.review-product-count{
	display: flex;
	flex-direction: column;
	position: absolute;
	right: calc(var(--all-pading)/ 1.4);
	top: 230px;

}
.review-product-count div{
	display: flex;
	justify-content: flex-start;
}
.review-product-count div img{
	margin: 0 .3vw;
}
.review-product-count p{
	text-transform: uppercase;
	font-weight: 500;
	text-align: right;
}
.product{
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding: 0 calc(var(--all-pading)/ 1.4);
	box-sizing: border-box;
	margin-bottom: 100px;
}
.product-slider{
	width: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
}
.product-slides img{
	width: 100%;
	margin: 2.5px 0;

}
.product-button-top,
.product-button-bottom{
	width: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	border: 2px solid #000;
	opacity: .7;
	height: 28px;
	cursor: pointer;
	transition: .3s;
	box-sizing: border-box;
	margin: 10px 0;
}
.product-button-top{
	transform: rotate(-90deg);
}
.product-button-bottom{
	transform: rotate(90deg);
}
.product-button-top:hover,
.product-button-bottom:hover{
	opacity: 1;
}
.product-button-top img,
.product-button-bottom img{
	filter: invert(100%);
	width: 100%;
}
.current-slide{
	height: auto;
	width: 40%;
	margin: auto 0;
}
.product-info{
	width: 27%;
	display: flex;
	flex-direction: column;
	padding-left: 1%;
	box-sizing: border-box;
	margin-top: 30px;
}
.product-info .old-price{
	font-size: 1.2vw;
	text-decoration: line-through #FF0000;
}
.product-info .new-price{
	font-size: 2vw;
	color: #FF0101;
	font-weight: 600;
	margin: 0;
}
.product-info ul{
	font-size: .7vw;
	padding-left: 0;
	width: 100%;
}
.product-info ul li{
	font-weight: 600;
	margin-top: -.2vw;
	list-style: url("../../../../../images/Vector (3).png");
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.product-info ul li p{
	width: 40%;
}
.product-info ul li span{
	font-weight: 600;
	margin-left: .5vw;
	text-align: left;
	width: 60%;
	color: #000;
	opacity: .7;
}
.product-info ul li img{
	width: .75vw;
	margin: 0 5px;
}
.product-action{
	width: 100%;
	display: flex;
}
.product-action .count{
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.product-action .count input{
	width: 45%;
	border: 1px solid #555;
	font-size: 1vw;
	font-weight: 600;
	border-radius: 15px;
	height: 2.4vw;
	text-align: center;
	outline: none;
}
.product-action .count input::-webkit-outer-spin-button,
.product-action .count input::-webkit-inner-spin-button{
 -webkit-appearance: none;
}
.product-action .count span{
	width: 1.8vw;
	height: 1.8vw;
	border: 2px solid #555;
	border-radius: 50px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555;
	font-size: 1.6vw;
	font-weight: 400;
	transition: .3s;
	cursor: pointer;
}
.product-action .count span:hover{
	color: #000;
	border-color: #000;
}
.act{
	display: flex;
	align-items: center;
	width: 40%;
	justify-content: flex-end;
}
.act img{
	width: 1.8vw;
	margin-left: 1vw;
	cursor: pointer;
}
.act .comparison{
	filter: invert(50%);
}
.product-info select{
	background: #FFFFFF;
	border: 1px solid #E53A40;
	box-sizing: border-box;
	box-shadow: inset 4px 4px 10px rgba(229, 58, 64, 0.37);
	border-radius: 15px;
	height: 2.6vw;
	font-size: 1vw;
	color: #888;
	padding: 0 1vw;
	margin-top: -.3vw;
	margin-bottom: 1.6vw;
}
.product-info button{
	display: flex;
	height: 2.6vw;
	width: 100%;
	font-size: 1vw;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid rgba(229, 58, 64, 0.35);
	box-sizing: border-box;
	border-radius: 15px;
	color: #333;
	margin-top: .7vw;
	cursor: pointer;
	outline: none;
	transition: .1s;
}
.product-info button img{
	width: 1.5vw;
	margin-right: 1vw;
	filter: invert(20%);
}
.product-info button .inv{
	filter: invert(80%);
}
.product-info button:hover{
	background: #E53A40;
	color: #fff;
}
.product-info button:hover img{
	filter: invert(100%);
}
.product-info button:hover .inv{
	filter: invert(0);
}
.montage{
	width: 25%;
	margin-left: 2%;
	display: flex;
	flex-direction: column;
}
.montage .main-p{
	font-weight: 800;
	letter-spacing: 0.08em;
	margin-top: 1.8vw;
	margin-bottom: -.3vw;
	font-size: 1vw;
}
.montage .last-work{
	box-shadow: unset;
}
.montage p{
	font-size: .8vw;
}
.tab-menu{
	width: 39.5%;
	margin-left: calc(var(--all-pading)/ 1.4);
	background: #DEDEDE;
	height: 2.6vw;
	border-radius: 15px;
}
.tab-menu ul{
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0;
	margin: 0;
}
.tab-menu ul li{
	list-style: none;
	flex-grow: 1;
}
.tab-menu ul li a, .tab-menu ul li span{
	color: #444;
	height: 2.6vw;
	text-decoration: none;
	font-size: 1vw;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: center;
	cursor: pointer;
}
.tab-menu ul li a:hover, .tab-menu ul li span:hover{
	font-weight: 600;
	color: #000;
}
.tab-menu ul li a:target, .tab-menu ul li span:target{
	background: #fff;
	border-top: 2px solid #E53A40;
	font-weight: 600;
	color: #000;
}
.tabs{
	padding: 0 calc(var(--all-pading)/ 1.4);
	margin-top: 30px;
	font-size: 1vw;
	box-sizing: border-box;
}
.catalog-title{
	margin-top: 50px;
	padding: 0 calc(var(--all-pading)/ 1.4);
}
.products{
	padding: 0 calc(var(--all-pading)/ 1.4);
	box-sizing: border-box;
	padding-bottom: 2vw!important;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
@media(min-width: 1600px){
.category-header{
	font-size: 56px;
}
.product-info .old-price{
	font-size: 19.2px;
}
.product-info .new-price{
	font-size: 32px;
}
.product-info ul{
	font-size: 12px;
}
.product-info ul li span{
	margin-left: 8px;
}
.product-action .count span{
	width: 30px;
	height: 30px;
	font-size: 24px;
}
.product-action .count input{
	height: 39px;
	font-size: 16px;
}
.act img{
	width: 28px;
	margin-left: 16px;
}
.product-info select{
	height: 39px;
	font-size: 16px;
	padding: 0 16px;
	margin-top: -4px;
	margin-bottom: 25px;
}
.product-info button{
	height: 39px;
	margin-top: 14px;
	font-size: 16px;
}
.product-info button img{
	width: 24px;
	margin-right: 16px;
}
.montage .main-p{
	margin-top: 29px;
	font-size: 16px;
	margin-bottom: -4px;
}
.montage p{
	font-size: 13px;
}
.tab-menu{
	width: 900px;
	height: 50px;
}
.tab-menu ul li a, .tab-menu ul li span{
	height: 50px;
	font-size: 22px;
}
.tabs{
	font-size: 22px;
}
.review-product-count{
	right: 20vw;
}
}
@media(max-width: 767px){
.category-header{
	font-size: 30px;
	opacity: .5;
	margin: 15px 0;
}
.review-product-count{
	right: 5px;
	top: 85px;
}
.product{
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.product-slider{
	width: 25%;
}
.current-slide{
	width: 74%;
}
.product-info{
	width: 100%;
	padding: 0 2%;
	margin-top: -1vw;
}
.product-info .old-price{
	font-size: 6vw;
}
.product-info .new-price{
	font-size: 9vw;
	margin-top: -1vw;
}
.product-info ul{
	font-size: 3vw;
}
.product-info ul li img{
	width: 2.5vw;
}
.product-action .count{
	width: 45%;
}
.product-action .count span{
	width: 7vw;
	height: 7vw;
	font-size: 6vw;
}
.product-action .count input{
	height: 7vw;
	border: 2px solid #555;
	font-size: 5vw;
}
.act{
	width: 60%;
}
.act img{
	width: 7vw;
	margin-right: 3vw;
}
.product-info select{
	height: 8vw;
	font-size: 4vw;
	padding: 0 3vw;
	margin-bottom: 4vw;
}
.product-info button{
	height: 8vw;
	font-size: 4.3vw;
	margin-top: 3vw;
	border: 1px solid rgba(229, 58, 64, 0.7);
}
.product-info button img{
	width: 4.3vw;
	margin-right: 2vw;
}
.montage{
	margin-left: 0;
	margin-top: 15px;
	width: 100%;
	padding: 0 3%;
}
.montage .main-p{
	font-size: 5vw;
}
.montage p{
	font-size: 3.3vw;
}
.tab-menu{
	width: 100%;
	height: unset;
	border-radius: 0;
	margin: 0;
}
.tab-menu ul{
	flex-wrap: wrap;
}
.tab-menu ul li{
	flex-grow: 0;
	width: 50%;
}
.tab-menu ul li a, .tab-menu ul li span{
	height: 10vw;
	font-size: 3.7vw;
	justify-content: flex-start;
	padding: 0 3vw;
}
.tab-menu ul li:nth-child(2n) a{
	justify-content: flex-end;
}
.tabs{
	font-size: 3vw;
	padding: 0 3vw;
	margin-top: 15px;
}
}
@media(max-width: 500px){
	.review-product-count {
		top: 164px;
		z-index: -2;
	}
}