.contacts{
	display: flex;
	width: 100%;
	margin-top: 3vw;
}
.map-contacts{
	width: 50%;
	height: 30vw;
	overflow: hidden;
	border-radius: 0px 15px 15px 0px;
}
.map-contacts iframe{
	width: 100%;
	height: 100%;
}
.contact{
	padding: 0;
	width: 46%;
	margin-left: 4%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contact-item{
	display: flex;
	align-items: flex-start;
}
.contact-item p{
	margin-top: 0;
	width: 16vw;
	font-size: 1.1vw;
	font-weight: 700;
}
.contact-item  ul{
	margin-top: 0;
	list-style: none;
}
.contact-item  ul li{
	font-size: 1vw;
	height: 1.5vw;
}
.technical-support{
	width: 100%;
	height: 10vw;
	background: #F0F0F0;
	display: flex;
	margin-top: 6vw;
	position: relative;
}
.technical-support div{
	margin: 0 calc(var(--all-pading)/ 1.4);
}
.technical-support div p{
	margin: 0;
	letter-spacing: 0.08em;
	font-size: 1.1vw;
}
.technical-support div p:nth-child(3){
	font-weight: 700;
}
.technical-support div h2{
	font-size: 1.5vw;
	letter-spacing: 0.08em;
	margin-bottom: 1.5vw;
}
.technical-support ul{
	position: absolute;
	left: 50.5%;
	padding: 0;
	list-style: none;
	margin-top: 2vw;
}
.technical-support ul li{
	font-size: 1.1vw;
	margin-top: 1vw;
	display: flex;
	justify-content: space-between;

}
.technical-support ul li span{
	opacity: .6;
	margin-left: 1vw;
	width: 20%;
	text-align: left;
}
.we-team{
	font-size: 1.5vw;
	letter-spacing: 0.08em;
	margin-left: calc(var(--all-pading)/ 1.4);
}
.team{
	width: 100%;
	padding: 0 calc(var(--all-pading)/ 1.4);
	box-sizing: border-box;
}
@media(min-width: 1600px){
.contacts{
	margin-top: 48px;
}
.map-contacts{
	height: 480px;
}
.contact-item p{
	width: 256px;
	font-size: 17.6px;
}
.contact-item  ul li{
	font-size: 16px;
	height: 24px;
}
.technical-support{
	height: 160px;
	margin-top: 96px;
}
.technical-support div p{
	font-size: 17.6px;
}
.technical-support div h2{
	font-size: 24px;
	margin-bottom: 24px;
}
.technical-support ul{
	margin-top: 32px;
}
.technical-support ul li{
	font-size: 17.6px;
	margin-top: 16px;
}
.technical-support ul li span{
	margin-left: 16px;
}
.we-team{
	font-size: 24px;
}
}
@media(max-width: 767px){
.contacts{
	flex-direction: column;
}
.map-contacts{
	width: 96%;
	margin-left: 2%;
	height: 96vw;
	border-radius: 0;
}
.contact{
	width: 96%;
	margin-left: 2%;
}
.contact-item p{
	width: 40vw;
	font-size: 4vw;
}
.contact-item ul li{
	font-size: 3.2vw;
	height: 6.4vw;
}
.technical-support{
	height: unset;
	flex-direction: column;
}
.technical-support div{
	margin-left: 1vw;
}
.technical-support div h2{
	font-size: 5vw;
	margin-bottom: 2.5vw;
}
.technical-support div p{
	font-size: 3.5vw;
}
.technical-support ul{
	position: static;
	margin-left: 1vw;
}
.technical-support ul li{
	margin-top: 2vw;
	font-size: 3.5vw;
	justify-content: center;
}
.technical-support ul li span{
	margin-left: 5vw;
}
.we-team{
	margin-left: 1vw;
	font-size: 5vw;
}
}