
.slider-realized {
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 7vw;
    position: relative;
}

.secondary-slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-slide img {
    height: auto;
    width: 33%;
}
.slider-realized-current img{
    display: none;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.slider-realized-current {
    position: absolute;
    width: 56vw;
    left: 22vw;
    top: 0;
}

.slider-realized-oper {
    padding: 0 10px!important;
    width: 100vw;
    left: 0;
    height: 7vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
}

.slider-realized-oper .arrow {
    width: 2.6vw;
    height: 2.5vw;
    border-radius: 100px;
    display: flex;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 200;
}

.slider-realized-oper .arrow img {
    width: 1.2vw;
    filter: invert(100%);
}

.slider-realized-oper .arrow-left {
    transform: rotate(180deg);
}

.slider-realized-oper .arrow:hover {
    border: none;
    background: #E53A40;
}

.slider-realized-oper .arrow:hover img {
    filter: invert(0);
}

.slider-realized-oper .slides {
    position: static;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.slider-realized-oper .slides span {
    width: .8vw;
    height: .8vw;
    border-radius: 20px;
    border: 1px solid #E53A40;
    transition: background .2s;
    cursor: pointer;
    margin: 0 .8vw;
}

.slider-realized-oper .slides span:hover {
    background: #E53A40;
}

@media (min-width: 1600px) {
    .slider-realized-current {
        left: 352px;
        width: 896px;
    }

    .slider-realized-oper .arrow {
        width: 54px;
        height: 50px;
        border: none;
    }

    .slider-realized-oper .arrow img {
        width: 22px;
    }

    .slider-realized-oper .slides span {
        width: 16px;
        height: 16px;
        margin: 0 16px;
    }

    .slider-realized-oper {
        height: 120px;
    }

    .slider-realized {
        margin-top: 50px;
        margin-bottom: 120px;
    }
}
@media (max-width: 1400px) and (min-width: 768px) {
    .slider-realized-oper .arrow{
        width: 3.2vw;
        height: 3.2vw;
    }
    .slider-realized-oper .arrow img{
        width: 1.2vw;
    }
}
@media (max-width: 767px) {
    .secondary-slide {
        display: none;
    }

    .slider-realized-current {
        position: relative;
        width: 93vw;
        left: 3.2vw;
    }

    .slider-realized-oper {
        padding: 3vw 5%;
        top: 0 !important;
    }

    .slider-realized-oper .arrow {
        width: 8vw;
        height: 8vw;
    }

    .slider-realized-oper .arrow img {
        width: 4vw;
    }

    .slider-realized-oper .slides {
        margin-top: -2.5vw;
    }

    .slider-realized-oper .slides span {
        width: 2vw;
        height: 2vw;
        margin: 0 2vw;
    }
}