.container{
	margin-bottom: 100px;
}
.slider-realized-oper{
	display: none;
}
.comparison-cont{
	display: flex;
	width: 100%;
	padding: 40px calc(var(--all-pading)/ 1.4);
	box-sizing: border-box;
	margin-bottom: 60px;
}
.info-chose{
	width: 20%;
	display: flex;
	flex-direction:column;
}
.info-chose p{
	opacity: .5;
	font-size: 1vw;
}
.info-chose div{
	margin-top: 1.5vw;
	display: flex;
}
.info-chose div span{
	border: 1px solid #E53A40;
	display: block;
	width: .8vw;
	height: .8vw;
	border-radius: 50px;
	margin: 0;
	margin-right: 1.1vw;
	cursor: pointer;
}
.info-chose div span:hover, .info-chose div span.selected{
	background: #E53A40;
}
.info-chose div  label{
	font-size: 1vw;
	margin-top: -.2vw;
}
.comparison-products{
	display: flex;
	justify-content: space-around;
	width: 80%;
}
.comparison-product{
	width: 31.5%;
}
.comparison-product .action{
	width: 100%;
	margin-bottom: 0;
	min-width: unset;
}
.action .stickers-icons li{
	text-align: center;
}
.comparison-product .action p{
	font-size: 16px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: -20px;
	font-weight: 800;
}
.comp-btns{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.comp-btn{
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3vw;
	cursor: pointer;
}
.comp-btn-basket{
	width: 45%;
	background: #E53A40;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.3vw;
	border-radius: 0px 0px 18px 18px;
	cursor: pointer;
	z-index: 30;
}
.stars{
	display: flex;
	width: 60%;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 2vw;
}
.stars img{
	width: 1.7vw;
	cursor: pointer;
}
.comp-btn-like{
	filter: invert(70%);
}
.comp-btn-basket img{
	width: 25%;
}
.comp-btn img{
	width: 22%;
}
.comp-btn-like img{
	width: 27%;
}
.table{
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 1vw;
}
.table-row{
	width: 100%;
	padding: 0 calc(var(--all-pading)/ 1.4);
	display: flex;
	flex-direction: row;
	border-bottom: 1px dashed rgb(0,0,0, .3);
	box-sizing: border-box;
}
.parametr{
	width: 20%;
	font-weight: 600;
}
.parametr-values{
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.parametr-value{
	width: 31.5%;
	text-align: center;
}
.header-table{
	padding: 0 calc(var(--all-pading)/ 1.4);
	font-size: 1.5vw;
	font-weight: 600;
	opacity: .5;
}
@media(max-width: 900px) and (min-width: 768px){
.action .img ul li img{
	width: 35%;
}
.action .img img{
	width: 20vw;
}
.comparison-product .action p{
	font-size: 12px;
}
}
@media(min-width: 1600px){
.info-chose p{
	font-size: 16px;
}
.info-chose div{
	margin-top: 24px;
}
.info-chose div span{
	width: 14px;
	height: 14px;
	margin-right: 17px;
}
.info-chose div label{
	font-size: 16px;
	margin-top: -2px;
}
.comp-btn-basket{
	height: 53px;
}
.comp-btn{
	height: 48px;
}
.stars{
	margin-top: 32px;
}
.stars img{
	width: 30px;
}
.header-table{
	font-size: 24px;
}
.table{
	font-size: 16px;
}
}
@media(max-width: 767px){
.comparison-cont{
	flex-direction: column-reverse;
}
.info-chose{
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}
.info-chose p{
	font-size: 4vw;
	margin-left: 2vw;
	width: 100%;
}
.info-chose div{
	margin: 0;
	width: 33.3%;
	height: 10vw;
	align-items: center;
	justify-content: center;
}
.info-chose div span{
	display: none;
}
.info-chose div label{
	font-size: 3vw;
}
.info-chose div:hover{
	background: #E53A40;
	color: #fff;
}
.comparison-product{
	display: none;
	width: 48%;
}
.slider-realized-oper{
	display: flex;
}
.parametr-value{
	display: none;
}
.show-mob{
	display: block;
}
.show-mob:nth-child(1) .action{
	border-radius: 0 18px 18px 0;
}
.show-mob:nth-child(2) .action{
	border-radius: 18px 0 0 18px;
}
.comparison-products{
	width: 100%;
	justify-content: space-between;
}
.action{
	margin: 0;border-radius: 0;
}
.comp-btn{
	height: 8vw;
}
.comp-btn-basket{
	height: 8.5vw;
}
.stars{
	width: 75%;
}
.stars img{
	width: 5vw;
}
.table-row{
	flex-direction: column;
}
.table{
	font-size: 4vw;
}
.table p{
	margin: 3.5vw 0;
}
.parametr{
	width: 100%;
	text-align: center;
}
.parametr-values{
	width: 100%;
}
.header-table{
	font-size: 5vw;
	text-align: center;
}
}