.order-consultation {
    display: flex;
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.order-consultation .img {
    width: 70%;
    padding: 0 calc(var(--all-pading) / 1.4);
    box-sizing: border-box;
}

.order-consultation .img img {
    width: 75%;
}

.consult {
    background: #F0F0F0;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.consult form {
    position: relative;
    margin-left: 5%;
    width: 60%;
}

.consult form img {
    position: absolute;
    width: 3vw;
    height: auto;
}

.consult form img:nth-child(1) {
    top: 0;
    left: 0;
}

.consult form img:nth-child(2) {
    bottom: 0;
    right: 0;
}

.consult form .main-p {
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 0;
}

.corner.consult {
    height: 50px;
    width: 45px;
    position: absolute;
    background-color: transparent;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top: 1px solid #898989;
    border-left: 1px solid #898989;
}

.corner.consult.bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(200grad)
}

.consult form input {
    width: 80%;
    margin-left: 10%;
    height: 3vw;
    background: none;
    border: 1px solid #898989;
    border-radius: 15px;
    padding-left: 1vw;
    outline: none;
    font-size: 1vw;
    margin-top: 1vw;
    box-sizing: border-box;
}

.consult form button {
    width: 80%;
    margin-top: 1vw;
    margin-bottom: 2vw;
    margin-left: 10%;
    height: 3vw;
    border: none;
    color: #fff;
    outline: none;
    font-size: 1vw;
    background: #E53A40;
    border-radius: 15px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid #E53A40;
    transition: .2s;
    font-size: 18px;
}

.consult form button:hover {
    background: #fff;
    color: #E53A40;
}

@media (min-width: 1600px) {
    .order-consultation {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .consult form .main-p {
        font-size: 24px;
    }

    .consult form input {
        height: 48px;
        padding-left: 16px;
        font-size: 16px;
        margin-top: 16px;
    }

    .consult form button {
        height: 48px;
        margin-top: 16px;
        margin-bottom: 32px;
        font-size: 16px;
    }

    .consult form img {
        width: 48px;
    }
}

@media (max-width: 767px) {
    .order-consultation {
        flex-direction: column;
    }

    .order-consultation .img {
        width: 100%;
        padding: 0;
    }

    .consult {
        border-radius: 0;
        margin-top: -1vw;
    }

    .consult form {
        width: 100%;
        margin: 0;
    }

    .consult form .main-p {
        font-size: 6vw;
        text-align: left;
        width: 96%;
        margin-left: 2%;
    }

    .consult form img {
        width: 10vw;
    }

    .consult form input {
        width: 96%;
        margin-left: 2%;
        height: 9vw;
        border: 1px solid #898989;
        border-radius: 5px;
        font-size: 3vw;
        margin-top: 3vw;
    }

    .consult form button {
        width: 96%;
        margin-left: 2%;
        height: 9vw;
        font-size: 3vw;
        border-radius: 5px;
        margin-top: 3vw;
        margin-bottom: 5vw;

    }
}