.main-block, .info {
    display: flex;
    flex-direction: column;
}
.main-block {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-size: cover;
}
form {
    width: 86%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #F0F0F0;
}
.post-review-form-title{
    font-size: 2vw;
    font-weight: 800;
    margin-bottom: 30px;
}

button.post-review-form{
    top: 0;
    margin: 0 auto;
}

.info-item {
    width: 100%;
}
input {
    width: 29vw;
    height: 36px;
    padding-left: 10px;
    outline: none;
    box-sizing: border-box;
    margin: 0 0 12px -5px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    background: #fff;
}
.icon {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5vw;
    border-radius: 5px 0 0 5px;
    border: solid 0px #cbc9c9;
    background: #030303;
    color: #fff;
}
input[type=radio] {
    display: none;
}
label.radio {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 18px;
    cursor: pointer;
}
label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0.5px solid #8ebf42;
    background: #fff;
}
label.radio:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    top: 5px;
    left: 4px;
    border-bottom: 3px solid #8ebf42;
    border-left: 3px solid #8ebf42;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type=radio]:checked + label:after {
    opacity: 1;
}
textarea {
    width: 99%;
    margin-bottom: 12px;
}
.post-review-form {
    width: 100% !important;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #8ebf42;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.post-review-form:hover {
    background: #82b534;
}
.grade-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.grade-type div {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-item{
    display: flex;
}
.grade-post-review-title{
    font-size: 1.1rem;
}
@media (min-width: 568px) {
    .info {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .info-item {
        width: 48%;
    }
}
@media(max-width: 1050px) and (min-width: 768px){
    .grade-type-item{
        font-size: 1.5vw;
        margin-left: .4vw;
        text-align: center;
    }
}
@media(max-width: 568px){
    input{
        width: 85%;
    }
    .icon{
        width: 15%;
    }

}