.advantages{
	width: 100%;
	display: flex;
}
.advantages-list{
	width: 40vw;
	background: #D1D0D0;
	box-sizing: border-box;
	padding-left: 5vw;
	border-radius: 0px 15px 15px 0px;
}
.advantages-list ul{
	padding: 0;
	list-style: none;
}
.advantages-list ul li{
	font-size: 1.2vw;
	height: 3vw;
	width: 23vw;
	text-transform: uppercase;
	background: #fff;
	display: flex;
	border-radius: 5px 0 0 5px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1.5vw 0;
}
.tringle{
	width: 2.35vw;
	height: 2.35vw;
	position: absolute;
	background: #E53A40;
	margin-left: 23vw;
	transform: rotate(45deg);
	border-radius: .4vw;
}
.advantages-list ul li span{
	font-size: .8vw;
	text-transform: none;
}
.advantages-list ul .ative{
	 background: #E53A40;
	 color: #fff;

}
.advantages-list h1{
	font-size: 3vw;
}
.servers-about{
	display: flex;
	margin: 5vw 0;
	background: #fff;
	border-radius: 15px 0 0 15px;
	margin-left: -10vw;
}
.servers-about img{
	width: 35vw;
	height: 35vw;
}
.servers-about .text{
	width: 35vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.servers-about .text p{
	font-size: 1vw;
	padding: 0 2vw;
	box-sizing: border-box;
}
.servers-about .text h2{
	font-size: 1.8vw;
	padding: 0 2vw;
	box-sizing: border-box;
}
.servers-about a{
	height: 2vw;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #fff;
	padding-left: 1vw;
	box-sizing: border-box;
	background: #E53A40;
	border-radius: 0 0 0 15px;
}
.servers-about a img{
	width: 1vw;
	height: 1vw;
	margin: 0 1vw;
}
.servers-about a span{
	transition: .5s;
	font-size: 1vw;
}
.servers-about a:hover span{
	margin-left: 3vw;
}
@media(min-width: 1600px){
.advantages-list{
	width: 640px;
	padding-left: 80px;
}
.advantages-list ul li{
	font-size: 19px;
	height: 48px;
	width: 384px;
	margin: 24px 0;
}
.advantages-list ul li span{
	font-size: 16px;
}
.advantages-list h1{
	font-size: 48px;
}
.tringle{
	width: 37px;
	height: 37px;
	border-radius: 5px;
	margin-left: 384px;
}
.servers-about{
	margin: 80px 0;
	margin-left: -160px;
}
.servers-about img{
	width: 560px;
	height: 560px;
}
.servers-about .text{
	width: 560px;
}
.servers-about .text h2{
	font-size: 29px;
	padding: 0 30px;
}.servers-about .text p{
	font-size: 16px;
	padding: 0 30px;
}
.servers-about a{
	height: 30px;
}
.servers-about a img{
	width: 20px;
	height: 20px;

}
.servers-about a span{
	font-size: 16px;
}
}