<div class="advantages">
    <div class="advantages-list">
        <h2>
            {{ head_title }}
        </h2>
        <div class="service-block">
                <ul>
                    {% for service in services %}
                        {% if service.parent_id == 0 %}
                            <li><a {% if loop.index == 1 %}class="active"{% endif %}
                                   {% if service.posts%} posts="{{ service.posts }}" {% endif%}
                                   service_id="{{ service.service_id }}">
                                    <p>{{ service.name }}</p>
                                    {% if service.description %}
                                        <span>{{ service.description }}</span>
                                    {% endif %}
                                    <img class="active-arrow" src="/images/arow-menu.png" alt="">
                                </a>
                                <div class="sub_services">
                                    <ul>
                                    </ul>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            <div class="sub_services">
                <ul>
                    {% for service in services %}
                        {% if service.parent_id != 0 %}
                            <li parent_service="{{ service.parent_id }}"><a
                                        {% if loop.index == 1 %}class="active"{% endif %}
                                        {% if service.posts%} posts="{{ service.posts }}" {% endif%}
                                        service_id="{{ service.service_id }}"><p>{{ service.name }}</p>{% if service.description %}
                                        <span>{{ service.description }}</span>{% endif %}
                                        <img class="active-arrow" src="/images/arow-menu.png" alt="">
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% for post in posts %}
        <div class="advantage-item" post_id="{{ post.post_id }}" id="advantage{{ post.post_id }}">
            <div class="text">
                <div class="servers-about-div">
                    {{ post.description }}
                </div>
                <a class="advantages-learn-more" href="{{ post.url }}">
                    <img src="/catalog/view/theme/default/image/arrow-pointing-to-right.png">
                    <span>подивитись більше</span>
                </a>
            </div>
            <div class="img"><img src="image/{{ post.image }}"></div>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.advantages').addClass('tablet-width');
        reBuildPage();
        let service_id = $('.advantages-list li a.active').attr('service_id');
        let posts = $('.advantages-list li a.active').attr('posts');
        if(posts != undefined && posts.length > 0){
            $.each(posts.split(','), function (key, post_id)
            {
                $('#advantage' + post_id).css('display', 'flex');
            })
        }
        if($('li[parent_service=' + service_id + ']').length > 0){
            $('.sub_services').show();
        }

        // $('#advantage' + post_id).css('display', 'flex');
    });

    function reBuildPage(){
        if(window.screen.width <= 500){
            $.each($('.advantage-item'), function (key, element){
                $('a[posts*=' +$(element).attr('post_id')+ ']').parent().append($(element));
            });
        }else{
            $.each($('.advantage-item'), function (key, element){
                $('.advantages').append($(element));
            });
        }
    }

    $(window).resize(function (){
        reBuildPage()
    });

    $(document).on('click', '.advantages-list li a', function () {
        $('.advantages').addClass('tablet-width');
        if(window.screen.width > 500) {
            $('.advantage-item').css('display', 'none');
        }
        let post_id = $(this).attr('post_id');
        if($(this).parent().attr('parent_service') != undefined) {
            $('.advantages-list li[parent_service=' + $(this).parent().attr('parent_service') + '] a').removeClass('active');
        }else{
            $('.advantages-list li a').removeClass('active');
        }
        $(this).addClass('active');
        let service_id = $(this).attr('service_id');

        if ($(this).parent().attr('parent_service') == undefined) {
            $('.sub_services ul li').hide();
        }

        if($('li[parent_service=' + service_id + ']').length > 0){
            $('li[parent_service=' + service_id + ']').removeClass('active');
            let first_item_menu = $('li[parent_service=' + service_id + ']')[0].getElementsByTagName('a')[0];
            first_item_menu.classList.add('active');
            $.each($(first_item_menu).attr('posts').split(','), function (key, post_id)
            {
                $('#advantage' + post_id).css('display', 'flex');
            })
            $('li[parent_service=' + service_id + ']').show();
            $('.advantages').removeClass('tablet-width');
            $('.sub_services').show();
        }else if($(this).parent().attr('parent_service') == undefined){
            $('.sub_services').hide();
        }
        if($(this).attr('posts') != undefined) {
            $.each($(this).attr('posts').split(','), function (key, post_id)
            {
                if(window.screen.width < 468 && $('#advantage' + post_id).css('display') == 'flex'){
                    $('#advantage' + post_id).css('display', 'none');
                }else {
                    $('#advantage' + post_id).css('display', 'flex');
                }
            })
        }else if(window.screen.width < 468){
            $('li[parent_service="5"]').appendTo($(this).parent().find('.sub_services ul'));
        }
    })
</script>