<div class="last-work">
    <a class="img" href="{{ url }}"><img src="image/{{ image }}"></a>
    <div class="description_block">
        <p>
            {{ description }}
        </p>
    </div>
    <div class="{% if attributes %}text{% endif %}">
        <div class="attributes">
            {% for attribute in attributes%}
            <p class="big-p">
                {{ attribute.name }}
            </p>
            <p>
                {{ attribute.text }}
            </p>
            {% endfor %}
        </div>
    </div>
</div>