<div class="last-work">
    <div class="img">
        <img src="/image/{{ object.image }}">
    </div>
    <div class="text">
        <p>
            {{ object.name }}
        </p>
        <div>
            {% for attribute in object.attributes %}
            <p class="big-p">
                {{attribute.name}}
            </p>
            <p>
                {{ attribute.text }}
            </p>
            {% endfor %}
        </div>
    </div>
</div>