<div class="action-outside">
    <div class="action">
        <a href=""></a>
        <div class="characterictic" style="display: none;">
            <ul class="properties">
                {% if attributes %}
                    {% for attribute in attributes %}
                        <li>
                            <p>{{ attribute.name }}:</p>
                            <span>{{ attribute.text }}</span>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="img">
            <ul>
                <li>
                    auto
                </li>
                <li>
                    <img src="images/wifi-signal.png">
                    <span>
							wi-fi
						</span>
                </li>
                <li>
                    A
                </li>
                <li>
						<span>
							площа
						</span>
                    25 м2
                </li>
            </ul>
            {{ product.thumb }}
            <img class="main_image" src="{{ product.image }}">
        </div>
        <p>
            {{ product.meta_h1 }}
        </p>
        <div class="price">
            {% if special > 0 %}
                <p class="old-price">
                    {{ price }}
                </p>
                <p class="new-price">
                    {{ special }}
                </p>
            {% else %}
                <p class="price">
                    {{ price }}
                </p>
            {% endif %}
        </div>
        <div class="action-characteristic">
            <div class="action-btns">
                <div class="action-btn">
                    <img src="images/comparison.png" onclick="compare.add('{{ product.product_id }}');">
                </div>
                <div class="action-btn">
                    <img src="images/shopping-cart.png" onclick="cart.add({{ product.product_id }}, 1);">
                </div>
                <div class="action-btn">
                    <img src="images/like.png" onclick="wishlist.add('{{ product.product_id }}');">
                </div>
            </div>
            <button class="add">
                <img src="images/Group%20186.png">
            </button>
        </div>
    </div>
</div>