<div class="sorting">
    <div class="sorting-item">
        <p>сортування:</p>
        <select class="select-sorting">
            <option>за зростанням ціни</option>
            <option>Category1</option>
            <option>Category2</option>
            <option>Category3</option>
        </select>
    </div>
    <div class="sorting-item">
        <p>на сторінці:</p>
        <select class="select-sorting">
            <option>15 товарів</option>
            <option>Category1</option>
            <option>Category2</option>
            <option>Category3</option>
        </select>
    </div>
</div>
<div class="products">
    {% if products %}
        {% for product in products %}
            <div class="action-outside">
            <div class="action">
                <div class="characterictic">
                    <ul class="properties">
                        {% for attribute in product.attributes %}
                            <li>
                                <p>
                                    {{ attribute.name }}:
                                </p>
                                <span>
                                    {{ attribute.text }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="img">
                    <ul>
                        <li>
                            auto
                        </li>
                        <li>
                            <img src="images/wifi-signal.png">
                            <span>
                                wi-fi
                            </span>
                        </li>
                        <li>
                            A
                        </li>
                        <li>
                            <span>
                                площа
                            </span>
                            25 м2
                        </li>
                    </ul>
                    {% if product.image %}
                        <a href="{{ product.href }}"><img src="{{ product.image }}"></a>
                    {% elseif product.thumb %}
                        <a href="{{ product.href }}"><img src="{{ product.thumb }}"></a>
                    {% endif %}
                </div>
                <p>
                    <a href="{{ product.href }}">{{ product.name }}</a>
                </p>
                <div class="price">
                    {% if product.special_price %}
                    <span class="old-price">
                        {{ product.price }}
                     </span>
                    <span class="new-price">
                        {{ product.special_price }}
                    </span>
                    {% else %}
                        <span class="price">
                        {{ product.price }}
                     </span>
                    {% endif %}
                </div>
                <div class="action-characteristic">
                    <div class="action-btns">
                        <div class="action-btn">
                            <img src="images/comparison.png" onclick="compare.add('{{ product.product_id }}');">
                        </div>
                        <div class="action-btn">
                            <img src="images/shopping-cart.png" onclick="cart.add({{ product.product_id }}, 1);">
                        </div>
                        <div class="action-btn">
                            <img src="images/like.png" onclick="wishlist.add('{{ product.product_id }}');">
                        </div>
                    </div>
                    <button class="add">
                        <img src="images/Group 186.png">
                    </button>
                </div>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <div>{{ empty_list }}</div>
    {% endif %}
</div>
<div style="width: 100%; text-align: center">
    <div class="action-learn-more">
        ДИВИТИСЬ БІЛЬШЕ
    </div>
</div>
<script type="text/javascript">
    if(!add) {
        var add = document.querySelectorAll('.action .add');
    }else{
        add = document.querySelectorAll('.action .add');
    }
    if(!characterictic) {
        var characterictic = document.querySelectorAll('.characterictic');
    }else{
        characterictic = document.querySelectorAll('.characterictic');
    }

    var arrayElem = [];

    for (var i = 0; i < add.length; i++){
        arrayElem.push(add[i]);
        add[i].addEventListener('click', function(e){
            characterictic[arrayElem.indexOf(this)].style.display = 'block';
        });
    }
    for (var i = 0; i < characterictic.length; i++){
        arrayElem.push(characterictic[i]);
        characterictic[i].addEventListener('click', function(e){
            this.style.display = 'none';

        });
    }

</script>