{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-banner" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-banner" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label class="col-sm-2 control-label" for="addition-classes">{{ entry_addition_classes }}<span data-toggle="tooltip" title="{{ help_addition_classes }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" id="addition-classes" name="addition_classes" placeholder="{{ entry_addition_classes }}" class="form-control" />
            </div>
          </div>
          <br />
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_background }}</label>
            <div class="col-sm-10"><a href="" id="thumb-background-image" data-toggle="image" class="img-thumbnail">
                <img src="{{ background_image_thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
              <input type="hidden" name="background_image" value="{{ background_image }}" id="image-background-image" />
            </div>
          </div>
          <br />
          <div class="tab-content">
            {% set image_row = 0 %}
            {% for language in languages %}
            <div id="language{{ language.language_id }}">
              <table id="images{{ language.language_id }}" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left">{{ entry_title }}</td>
                    <td class="text-left">{{ entry_link }}</td>
                    <td class="text-left">{{ entry_type_content }}</td>
                    <td class="text-center">{{ entry_content }}</td>
                    <td class="text-right">{{ entry_sort_order }}</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {% if banner_images[language.language_id] %}
                  {% for banner_image in banner_images[language.language_id] %}
                  <tr id="image-row{{ image_row }}">
                    <td class="text-left"><input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][title]" value="{{ banner_image.title }}" placeholder="{{ entry_title }}" class="form-control" />
                      {% if error_banner_image[language.language_id][image_row] %}
                      <div class="text-danger">{{ error_banner_image[language.language_id][image_row] }}</div>
                      {% endif %}</td>
                    <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][link]" value="{{ banner_image.link }}" placeholder="{{ entry_link }}" class="form-control" /></td>

                    <td>{% if banner_image.type_content == 1 %}{{ text_image }} {% elseif banner_image.type_content == 2 %} {{ text_html }} {% endif %}<input type="hidden" name="type_content[{{image_row}}][]" value="{{ banner_image.type_content }}"></td>

                    {% if banner_image.type_content == 1 %}

                      <td class="text-center"><a href="" id="thumb-image{{ image_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ banner_image.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                        <input type="hidden" name="banner_image[{{ language.language_id }}][{{ image_row }}][image]" value="{{ banner_image.image }}" id="input-image{{ image_row }}" /></td>

                    {% elseif banner_image.type_content == 2 %}

                      <td class="text-center type-content-{{ image_row }}" id = "html-{{ image_row }}"><textarea cols="60" rows="8"  name="html-content-{{ image_row }}" class="form-control html-content">{{ banner_image.image }}</textarea></td>

                    {% endif %}
                    <td class="text-right" style="width: 10%;"><input type="text" name="banner_image[{{ language.language_id }}][{{ image_row }}][sort_order]" value="{{ banner_image.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" /></td>
                    <td class="text-left"><button type="button" onclick="$('#image-row{{ image_row }}, .tooltip').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                  </tr>
                  {% set image_row = image_row + 1 %}
                  {% endfor %}
                  {% endif %}
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5"></td>
                    <td class="text-left"><button type="button" onclick="addImage('{{ language.language_id }}');" data-toggle="tooltip" title="{{ button_banner_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-html-form modal-dialog" id="html-content-form" aria-hidden= true>
    <div><h3>{{ html_form_title }}</h3></div>
    <textarea cols="60" rows="8" placeholder="{{ entry_text }}" data-toggle="summernote" id="html-content" class="form-control"></textarea>
    <div>
      <button type="button" class="btn btn-primary btn-save-form">{{ save_action }}</button>
      <button type="button" class="btn btn-danger btn-close-form">{{ cancel_action }}</button>
    </div>
  </div>
  <script type="text/javascript"><!--
var image_row = {{ image_row }};

function addImage(language_id) {
	html  = '<tr id="image-row' + image_row + '">';
    html += '  <td class="text-left"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][title]" value="" placeholder="{{ entry_title }}" class="form-control" /></td>';	
	html += '  <td class="text-left" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][link]" value="" placeholder="{{ entry_link }}" class="form-control" /></td>';
	html += '  <td><select row-index = "' + image_row + '" class="form-control type-content" name="type_content[][' + image_row + ']"><option value="1">{{ text_image }}</option><option value="2">{{ text_html }}</option></select></td>';
	html += '  <td class="text-center type-content-' + image_row + '" id = "image-' + image_row + '"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="banner_image[' + language_id + '][' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
    html += '  <td style="display: none" class="text-center type-content-' + image_row + '" id = "html-' + image_row + '"><textarea cols="60" rows="8"  name="html-content-' + image_row + '" class="form-control html-content"></textarea></td>';
	html += '  <td class="text-right" style="width: 10%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + ', .tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	
	$('#images' + language_id + ' tbody').append(html);
	
	image_row++;
}
$(document).on('click', '.btn-close-form', function (){
  $('.modal-dialog').modal('hide');
  console.log($('#html-content').val());
  $('#html-content').html('');
})

$(document).on('click', '.btn-save-form', function (){
  $('textarea[name='+$('#html-content-form').attr('text-name')+']').val($('#html-content').val());
  $('.btn-close-form').click();
})

$(document).on('click', '.html-content', function (){
  let name = $(this).attr('name');
  let content = $('textarea[name='+name+']').val();
  $('#html-content-form').attr('text-name', $(this).attr('name'));
  $('#html-content').summernote('code', content);
  $('#html-content-form').modal();
});



$(document).on('change', '.type-content', function (){
  $('.type-content-'+$(this).attr('row-index')).css('display', 'none');
  console.log($(this).val());
  switch ($(this).val()){
    case '1':{
      $('#image-'+$(this).attr('row-index')).css('display', 'block');
    }break;
    case '2':{
      console.log($('#html-'+$(this).attr('row-index')));
      $('td#html-'+$(this).attr('row-index')).show();
    }break;
  }
})
//--></script>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet"/>
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet"/>
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script> 
</div>
{{ footer }} 