{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-seo-url" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-menu" class="form-horizontal">
          <input type="hidden" name="menu_id" value="{{ menu_id }}">
          <input type="hidden" name="language_id" value="{{ language_id }}">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}          
           
           </div>
          </div>
          {% if menu_items %}
            {% for menu_item in menu_items %}
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-menu-item">{{ entry_menu_item }}</label>
                <div class="col-sm-10 display-flex">
                  <div><input type="text" name="menu_item[{{ loop.index }}][menu_item_name]" value="{{ menu_item.title }}" placeholder="{{ entry_menu_item_name }}" class="form-control" /></div>
                  <div><input type="text" name="menu_item[{{ loop.index }}][menu_item_link]" value="{{ menu_item.url }}" placeholder="{{ entry_menu_item_link }}" class="form-control" /></div>
                  <div><input type="text" name="menu_item[{{ loop.index }}][menu_item_sort_order]" value="{{ menu_item.sort_order }}" placeholder="{{ entry_menu_item_sort_order }}" class="form-control" /></div>
                  <div class="input-group-btn">
                    <button type="button" onclick="removeMenuItem($(this))"  data-toggle="tooltip" title="" class="btn btn-danger btn-sm" data-original-title="{{ text_remove_item }} "><i class="fa fa-minus-circle"></i></button>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-menu-item">{{ entry_menu_item }}</label>
            <div class="col-sm-10 display-flex">
              <div><input type="text" name="menu_item[{% if menu_total_count %}{{ menu_total_count }} {% else %}0{% endif %}][menu_item_name]" value="{{ menu_item_name }}" placeholder="{{ entry_menu_item_name }}" class="form-control" /></div>
              <div><input type="text" name="menu_item[{% if menu_total_count %}{{ menu_total_count }} {% else %}0{% endif %}][menu_item_link]" value="{{ menu_item_link }}" placeholder="{{ entry_menu_item_link }}" class="form-control" /></div>
              <div><input type="text" name="menu_item[{% if menu_total_count %}{{ menu_total_count }} {% else %}0{% endif %}][menu_item_sort_order]" value="{{ menu_item_link }}" placeholder="{{ entry_menu_item_sort_order }}" class="form-control" /></div>
              <div class="input-group-btn">
                <button type="button" onclick="addMenuItem($(this))"  data-toggle="tooltip" title="" class="btn btn-primary btn-sm" data-original-title="{{ text_add_item }} "><i class="fa fa-plus-circle"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}

<script type="text/javascript">
  var menu_item_index = 1 + {% if menu_total_count %} {{ menu_total_count }} {% else %} 0 {% endif %};

  function addMenuItem(element){
    $(element).attr('onclick', 'removeMenuItem($(this))');
    $(element).find('i').removeClass('fa-plus-circle');
    $(element).find('i').addClass('fa-minus-circle');
    $(element).addClass('btn-danger');
    $(element).removeClass('btn-primary');
    let html = '<div class="form-group">' +
            '<label class="col-sm-2 control-label" for="input-menu-item">{{ entry_menu_item }}</label>' +
            '<div class="col-sm-10 display-flex">' +
            '<div><input type="text" name="menu_item[' + menu_item_index + '][menu_item_name]" value="" placeholder="{{ entry_menu_item_name }}" class="form-control" /></div>' +
            '<div><input type="text" name="menu_item[' + menu_item_index + '][menu_item_link]" value="" placeholder="{{ entry_menu_item_link }}" class="form-control" /></div>' +
            '<div><input type="text" name="menu_item[' + menu_item_index + '][menu_item_sort_order]" value="" placeholder="{{ entry_menu_item_sort_order }}" class="form-control" /></div>' +
            '<div class="input-group-btn">' +
            '<button type="button" onclick="addMenuItem($(this))"  data-toggle="tooltip" title="" class="btn btn-primary btn-sm" data-original-title="{{ text_add }} "><i class="fa fa-plus-circle"></i></button>'  +
            '</div>'+
      '</div></div>';
    $('#form-menu').append(html);
    menu_item_index++;
  }
  function removeMenuItem(element){
     $(element).closest('.form-group')[0].remove();
  }
</script>