{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="{{ button_filter }}"
                        onclick="$('#filter-seo').toggleClass('hidden-sm hidden-xs');"
                        class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
                <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i
                            class="fa fa-plus"></i></a>
                <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"
                        onclick="confirm('{{ text_confirm }}') ? $('#form-url-alias').submit() : false;"><i
                            class="fa fa-trash-o"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">{% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-url-alias">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center"><input type="checkbox"
                                                                                           onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/>
                                        </td>
                                        <td class="text-left">{% if sort == 'menu_name' %}<a href="{{ sort_menu_name }}"
                                                                                           class="{{ order|lower }}">{{ column_menu_alias }}</a> {% else %}
                                                <a href="{{ sort_menu_name }}">{{ column_menu_alias }}</a>{% endif %}</td>
                                        <td class="text-right">{{ column_action }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if menus %}
                                        {% for menu in menus %}
                                            <tr>
                                                <td class="text-center">{% if menu.menu_id in selected %}
                                                        <input type="checkbox" name="selected[]"
                                                               value="{{ menu.menu_id }}" checked="checked"/>
                                                    {% else %}
                                                        <input type="checkbox" name="selected[]"
                                                               value="{{ menu.menu_id }}"/>
                                                    {% endif %}</td>
                                                <td class="text-left">{{ menu.name }}</td>
                                                <td class="text-right"><a href="{{ menu.edit }}"
                                                                          data-toggle="tooltip"
                                                                          title="{{ button_edit }}"
                                                                          class="btn btn-primary"><i
                                                                class="fa fa-pencil"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="6">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>

                                </table>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"><!--
        $('#button-filter').on('click', function () {
            var url = 'index.php?route=design/menu&user_token={{ user_token }}';

            var filter_query = $('input[name=\'filter_query\']').val();

            if (filter_query) {
                url += '&filter_query=' + encodeURIComponent(filter_query);
            }

            var filter_keyword = $('input[name=\'filter_keyword\']').val();

            if (filter_keyword) {
                url += '&filter_keyword=' + encodeURIComponent(filter_keyword);
            }

            var filter_store_id = $('select[name=\'filter_store_id\']').val();

            if (filter_store_id) {
                url += '&filter_store_id=' + encodeURIComponent(filter_store_id);
            }

            var filter_language_id = $('select[name=\'filter_language_id\']').val();

            if (filter_language_id) {
                url += '&filter_language_id=' + encodeURIComponent(filter_language_id);
            }

            location = url;
        });
        //--></script>
</div>
{{ footer }}