{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-product" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-product" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-links" data-toggle="tab">{{ tab_links }}</a></li>
            <li><a href="#tab-attribute" data-toggle="tab">{{ tab_attribute }}</a></li>
            <li><a href="#tab-post_publish_period" data-toggle="tab">{{ tab_publish_period }}</a></li>
            <li><a href="#tab-properties" data-toggle="tab">{{ tab_properties }}</a></li>
            <li><a href="#tab-products" data-toggle="tab">{{ tab_products }}</a></li>
            <li><a href="#tab-image" data-toggle="tab">{{ tab_image }}</a></li>
            <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                  <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">{% for language in languages %}
                  <div class="tab-pane" id="language{{ language.language_id }}">
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="post_description[{{ language.language_id }}][name]" value="{{ post_description[language.language_id] ? post_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                        {% if error_name[language.language_id] %}
                          <div class="text-danger">{{ error_name[language.language_id] }}</div>
                        {% endif %} </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_sub_name }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="post_description[{{ language.language_id }}][sub_name]" value="{{ post_description[language.language_id] ? post_description[language.language_id].sub_name }}" placeholder="{{ entry_sub_name }}" id="input-sub-name{{ language.language_id }}" class="form-control"/>
                          {% if error_name[language.language_id] %}
                            <div class="text-danger">{{ error_name[language.language_id] }}</div>
                          {% endif %} </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="select-post-type{{ language.language_id }}">{{ entry_post_type }}</label>
                      <div class="col-sm-10">
                        <select name="post_type" id="post_type" class="form-control">
                            {% for key, post_name in post_types %}
                              <option {% if key ==  post_type%} selected {% endif %} value="{{ key }}">{{ post_name }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                      <div class="col-sm-10">
                        <textarea name="post_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ post_description[language.language_id] ? post_description[language.language_id].description }}</textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_post_text }}</label>
                      <div class="col-sm-10">
                        <textarea name="post_description[{{ language.language_id }}][text]" placeholder="{{ entry_post_text }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ post_description[language.language_id] ? post_description[language.language_id].text }}</textarea>
                      </div>
                    </div>
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="post_description[{{ language.language_id }}][meta_title]" value="{{ post_description[language.language_id] ? post_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control"/>
                        {% if error_meta_title[language.language_id] %}
                          <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                        {% endif %} </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                      <div class="col-sm-10">
                        <textarea name="post_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ post_description[language.language_id] ? post_description[language.language_id].meta_description }}</textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                      <div class="col-sm-10">
                        <textarea name="post_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ post_description[language.language_id] ? post_description[language.language_id].meta_keyword }}</textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-tag{{ language.language_id }}"><span data-toggle="tooltip" title="{{ help_tag }}">{{ entry_tag }}</span></label>
                      <div class="col-sm-10">
                        <input type="text" name="post_description[{{ language.language_id }}][tag]" value="{{ post_description[language.language_id] ? post_description[language.language_id].tag }}" placeholder="{{ entry_tag }}" id="input-tag{{ language.language_id }}" class="form-control"/>
                      </div>
                    </div>
                  </div>
                {% endfor %}</div>
            </div>
            <div class="tab-pane" id="tab-properties">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                <div class="col-sm-10">
                  <textarea name="post_properties" id="input-properties" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ post_properties ? post_properties }}</textarea>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-products">
              <table id="products" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <td class="text-left">{{ entry_product_name }}</td>
                  <td class="text-left">{{ entry_product_count }}</td>
                  <td></td>
                </tr>
                </thead>
                <tbody>

                {% set product_row = 0 %}
                {% for product in products %}
                  <tr id="attribute-row{{ product_row }}">
                    <td class="text-left" style="width: 40%;">{{ product.name }} <input type="hidden" name="post_product[{{ product_row }}][product_id]" value="{{ product.product_id }}" /></td>
                    <td class="text-left">{{ product.count }}<input type="hidden" name="post_product[{{ product_row }}][count]" value="{{ product.count }}" placeholder="{{ entry_quantity }}" class="form-control post_product_count" /></td>
                    <td class="text-right"><button type="button" onclick="$('#attribute-row{{ product_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                  </tr>
                  {% set product_row = product_row + 1 %}
                {% endfor %}
                </tbody>

                <tfoot>
                <tr>
                  <td colspan="2"></td>
                  <td class="text-right"><button type="button" onclick="addProduct();" data-toggle="tooltip" title="{{ button_post_product }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                </tr>
                </tfoot>
              </table>
            </div>
            <div class="tab-pane" id="tab-links">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-category"><span data-toggle="tooltip" title="{{ help_category }}">{{ entry_category }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" class="form-control"/>
                  <div id="product-category" class="well well-sm" style="height: 150px; overflow: auto;"> {% for post_category in post_categories %}
                      <div id="product-category{{ post_category.category_id }}"><i class="fa fa-minus-circle"></i> {{ post_category.name }}
                        <input type="hidden" name="post_category[]" value="{{ post_category.post_category_id }}"/>
                      </div>
                    {% endfor %}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-top"><span data-toggle="tooltip" title="{{ help_top }}">{{ entry_top }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>
                      {% if top %}
                        <input type="checkbox" name="is_submenu" value="1" checked="checked" id="input-top" />
                      {% else %}
                        <input type="checkbox" name="is_submenu" value="1" id="input-top" />
                      {% endif %}
                      &nbsp; </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-service"><span data-toggle="tooltip" title="{{ help_service }}">{{ entry_services }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="service" value="" placeholder="{{ entry_services }}" id="input-service" class="form-control"/>
                  <div id="product-service" class="well well-sm" style="height: 150px; overflow: auto;"> {% for post_service in post_services %}
                      <div id="product-service{{ post_service.service_id }}"><i class="fa fa-minus-circle"></i> {{ post_service.name }}
                        <input type="hidden" name="post_service[]" value="{{ post_service.post_service_id }}"/>
                      </div>
                    {% endfor %}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for store in stores %}
                      <div class="checkbox">
                        <label> {% if store.store_id in post_store %}
                            <input type="checkbox" name="post_store[]" value="{{ store.store_id }}" checked="checked"/>
                            {{ store.name }}
                          {% else %}
                            <input type="checkbox" name="post_store[]" value="{{ store.store_id }}"/>
                            {{ store.name }}
                          {% endif %} </label>
                      </div>
                    {% endfor %}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-related"><span data-toggle="tooltip" title="{{ help_related }}">{{ entry_related }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="post_related" value="" placeholder="{{ entry_related }}" id="input-related" class="form-control"/>
                  <div id="post-related" class="well well-sm" style="height: 150px; overflow: auto;"> {% for post_related in post_relateds %}
                      <div id="post-related{{ post_related.post_id }}"><i class="fa fa-minus-circle"></i> {{ post_related.name }}
                        <input type="hidden" name="post_related[]" value="{{ post_related.post_id }}"/>
                      </div>
                    {% endfor %}</div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-attribute">
              <div class="table-responsive">
                <table id="attribute" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_attribute }}</td>
                      <td class="text-left">{{ entry_text }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>

                    {% set attribute_row = 0 %}
                    {% for post_attribute in post_attributes %}
                      <tr id="attribute-row{{ attribute_row }}">
                        <td class="text-left" style="width: 40%;"><input type="text" name="post_attribute[{{ attribute_row }}][name]" value="{{ post_attribute.name }}" placeholder="{{ entry_attribute }}" class="form-control"/> <input type="hidden" name="post_attribute[{{ attribute_row }}][attribute_id]" value="{{ post_attribute.attribute_id }}"/></td>
                        <td class="text-left">{% for language in languages %}
                            <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span> <textarea name="post_attribute[{{ attribute_row }}][post_attribute_description][{{ language.language_id }}][text]" rows="5" placeholder="{{ entry_text }}" class="form-control">{{ post_attribute.post_attribute_description[language.language_id] ? post_attribute.post_attribute_description[language.language_id].text }}</textarea>
                            </div>
                          {% endfor %}</td>
                        <td class="text-right"><button type="button" onclick="$('#attribute-row{{ attribute_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                      </tr>
                      {% set attribute_row = attribute_row + 1 %}
                    {% endfor %}
                  </tbody>

                  <tfoot>
                    <tr>
                      <td colspan="2"></td>
                      <td class="text-right"><button type="button" onclick="addAttribute();" data-toggle="tooltip" title="{{ button_attribute_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab-post_publish_period">
              <div class="table-responsive">
                <table id="special" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_customer_group }}</td>
                      <td class="text-right">{{ entry_priority }}</td>
                      <td class="text-left">{{ entry_date_start }}</td>
                      <td class="text-left">{{ entry_date_end }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>

                    {% set publish_period_row = 0 %}
                    {% for post_publish_period in publish_periods %}
                      <tr id="special-row{{ publish_period_row }}">
                        <td class="text-left"><select name="post_publish_period[{{ publish_period_row }}][customer_group_id]" class="form-control">


                            {% for customer_group in customer_groups %}
                              {% if customer_group.customer_group_id == post_publish_period.customer_group_id %}


                                <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>


                              {% else %}


                                <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>


                              {% endif %}
                            {% endfor %}


                          </select></td>
                        <td class="text-right"><input type="text" name="post_publish_period[{{ publish_period_row }}][priority]" value="{{ post_publish_period.priority }}" placeholder="{{ entry_priority }}" class="form-control"/></td>
                        <td class="text-left" style="width: 20%;">
                          <div class="input-group date">
                            <input type="text" name="post_publish_period[{{ publish_period_row }}][date_start]" value="{{ post_publish_period.date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" class="form-control"/> <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                        </span></div>
                        </td>
                        <td class="text-left" style="width: 20%;">
                          <div class="input-group date">
                            <input type="text" name="post_publish_period[{{ publish_period_row }}][date_end]" value="{{ post_publish_period.date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" class="form-control"/> <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                        </span></div>
                        </td>
                        <td class="text-left"><button type="button" onclick="$('#special-row{{ publish_period_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                      </tr>
                      {% set publish_period_row = publish_period_row + 1 %}
                    {% endfor %}
                  </tbody>

                  <tfoot>
                    <tr>
                      <td colspan="4"></td>
                      <td class="text-left"><button type="button" onclick="addPublishPeriod();" data-toggle="tooltip" title="{{ button_special_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab-image">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_image }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-left"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}"/></a> <input type="hidden" name="image" value="{{ image }}" id="input-image"/></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                <table id="images" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_additional_image }}</td>
                      <td class="text-right">{{ entry_sort_order }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>

                    {% set image_row = 0 %}
                    {% for post_image in post_images %}
                      <tr id="image-row{{ image_row }}">
                        <td class="text-left"><a href="" id="thumb-image{{ image_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ post_image.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}"/></a> <input type="hidden" name="post_image[{{ image_row }}][image]" value="{{ post_image.image }}" id="input-image{{ image_row }}"/></td>
                        <td class="text-right"><input type="text" name="post_image[{{ image_row }}][sort_order]" value="{{ post_image.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control"/></td>
                        <td class="text-left"><button type="button" onclick="$('#image-row{{ image_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                      </tr>
                      {% set image_row = image_row + 1 %}
                    {% endfor %}
                  </tbody>

                  <tfoot>
                    <tr>
                      <td colspan="2"></td>
                      <td class="text-left"><button type="button" onclick="addImage();" data-toggle="tooltip" title="{{ button_image_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab-seo">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_keyword }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for store in stores %}
                      <tr>
                        <td class="text-left">{{ store.name }}</td>
                        <td class="text-left">{% for language in languages %}
                            <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span> <input type="text" name="post_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if post_seo_url[store.store_id][language.language_id] %}{{ post_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control"/>
                            </div>
                            {% if error_keyword[store.store_id][language.language_id] %}
                              <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                            {% endif %}
                          {% endfor %}</td>
                      </tr>
                    {% endfor %}
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet"/>
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet"/>
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript">
  // Manufacturer
  $('input[name=\'manufacturer\']').autocomplete({
	  'source': function(request, response) {
		  $.ajax({
			  url: 'index.php?route=catalog/manufacturer/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			  dataType: 'json',
			  success: function(json) {
				  json.unshift({
					  manufacturer_id: 0,
					  name: '{{ text_none }}'
				  });

				  response($.map(json, function(item) {
					  return {
						  label: item['name'],
						  value: item['manufacturer_id']
					  }
				  }));
			  }
		  });
	  },
	  'select': function(item) {
		  $('input[name=\'manufacturer\']').val(item['label']);
		  $('input[name=\'manufacturer_id\']').val(item['value']);
	  }
  });

  // Category
  $('input[name=\'category\']').autocomplete({
	  'source': function(request, response) {
		  $.ajax({
			  url: 'index.php?route=common/post/autocomplete_category&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			  dataType: 'json',
			  success: function(json) {
				  response($.map(json, function(item) {
					  return {
						  label: item['name'],
						  value: item['post_category_id']
					  }
				  }));
			  }
		  });
	  },
	  'select': function(item) {
		  $('input[name=\'category\']').val('');

		  $('#product-category' + item['value']).remove();

		  $('#product-category').append('<div id="product-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="post_category[]" value="' + item['value'] + '" /></div>');
	  }
  });

  // Services
  $('input[name=\'service\']').autocomplete({
	  'source': function(request, response) {
		  $.ajax({
			  url: 'index.php?route=catalog/service/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			  dataType: 'json',
			  success: function(json) {
				  response($.map(json, function(item) {
					  return {
						  label: item['name'],
						  value: item['service_id']
					  }
				  }));
			  }
		  });
	  },
	  'select': function(item) {
		  $('input[name=\'service\']').val('');

		  $('#product-service' + item['value']).remove();

		  $('#product-service').append('<div id="product-service' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="post_service[]" value="' + item['value'] + '" /></div>');
	  }
  });

  $('.tab-content').delegate('.fa-minus-circle', 'click', function() {
	  $(this).parent().remove();
  });

  // Filter
  $('input[name=\'filter\']').autocomplete({
	  'source': function(request, response) {
		  $.ajax({
			  url: 'index.php?route=catalog/filter/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			  dataType: 'json',
			  success: function(json) {
				  response($.map(json, function(item) {
					  return {
						  label: item['name'],
						  value: item['filter_id']
					  }
				  }));
			  }
		  });
	  },
	  'select': function(item) {
		  $('input[name=\'filter\']').val('');

		  $('#product-filter' + item['value']).remove();

		  $('#product-filter').append('<div id="product-filter' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="post_filter[]" value="' + item['value'] + '" /></div>');
	  }
  });

  $('#product-filter').delegate('.fa-minus-circle', 'click', function() {
	  $(this).parent().remove();
  });

  // Downloads
  $('input[name=\'download\']').autocomplete({
	  'source': function(request, response) {
		  $.ajax({
			  url: 'index.php?route=catalog/download/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			  dataType: 'json',
			  success: function(json) {
				  response($.map(json, function(item) {
					  return {
						  label: item['name'],
						  value: item['download_id']
					  }
				  }));
			  }
		  });
	  },
	  'select': function(item) {
		  $('input[name=\'download\']').val('');

		  $('#product-download' + item['value']).remove();

		  $('#product-download').append('<div id="product-download' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="post_download[]" value="' + item['value'] + '" /></div>');
	  }
  });

  $('#product-download').delegate('.fa-minus-circle', 'click', function() {
	  $(this).parent().remove();
  });

  // Related
  $('input[name=\'post_related\']').autocomplete({
	  'source': function(request, response) {
		  $.ajax({
			  url: 'index.php?route=common/post/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			  dataType: 'json',
			  success: function(json) {
				  response($.map(json, function(item) {
					  return {
						  label: item['name'],
						  value: item['post_id']
					  }
				  }));
			  }
		  });
	  },
	  'select': function(item) {
		  $('input[name=\'post_related\']').val('');

		  $('#post-related' + item['value']).remove();

		  $('#post-related').append('<div id="post-related' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="post_related[]" value="' + item['value'] + '" /></div>');
	  }
  });

  $('#product-related').delegate('.fa-minus-circle', 'click', function() {
	  $(this).parent().remove();
  });

  var attribute_row = {{ attribute_row }};

  function addAttribute() {
	  html = '<tr id="attribute-row' + attribute_row + '">';
	  html += '  <td class="text-left" style="width: 20%;"><input type="text" name="post_attribute[' + attribute_row + '][name]" value="" placeholder="{{ entry_attribute }}" class="form-control" /><input type="hidden" name="post_attribute[' + attribute_row + '][attribute_id]" value="" /></td>';
	  html += '  <td class="text-left">';
    {% for language in languages %}
	  html += '<div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span><textarea name="post_attribute[' + attribute_row + '][post_attribute_description][{{ language.language_id }}][text]" rows="5" placeholder="{{ entry_text }}" class="form-control"></textarea></div>';
    {% endfor %}
	  html += '  </td>';
	  html += '  <td class="text-right"><button type="button" onclick="$(\'#attribute-row' + attribute_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	  html += '</tr>';

	  $('#attribute tbody').append(html);

    attribute_row++;
  }

  var product_row = {{ product_row }};

  function addProduct() {

    html = '<tr id="product-row' + product_row + '">';
    html += '  <td class="text-left" style="width: 60%;"><input type="text" name="post_product[' + product_row + '][name]" value="" placeholder="{{ entry_product_name_placeholder }}" class="form-control post_product_name" /><input type="hidden" name="post_product[' + product_row + '][product_row]" value="" /></td>';
    html += '  <td class="text-left" style="width: 20%;"><input type="text" name="post_product[' + product_row + '][count]" value="" placeholder="{{ entry_quantity }}" class="form-control post_product_count" /></td>';
    html += '  <td class="text-right"><button type="button" onclick="$(\'#product-row' + product_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
    html += '</tr>';
    product_row++;
    $('#products tbody').append(html);
  }

  function applyProduct(btn){

    let name = $('tr#product-row'+ $(btn).attr('row-index')+' td')[0].getElementsByClassName('post_product_name')[0].value;
    $('tr#product-row'+ $(btn).attr('row-index')+' td')[0].getElementsByClassName('post_product_name')[0].remove();
    let count = $('tr#product-row'+ $(btn).attr('row-index')+' td')[1].getElementsByClassName('post_product_count')[0].value;
    $('tr#product-row'+ $(btn).attr('row-index')+' td')[1].getElementsByClassName('post_product_count')[0].style.display = "none";
    $('tr#product-row'+ $(btn).attr('row-index')+' td')[1].getElementsByClassName('post_product_count')[0].classList.remove('post_product_count');
    $('tr#product-row'+ $(btn).attr('row-index')+' td:first-child').append(name);
    $('tr#product-row'+ $(btn).attr('row-index')+' td:nth-child(2)').append(count);
    $('.dropdown-menu').remove();
  }

  $(document).delegate('input.post_product_count', 'keyup', function (e){
    if ( !/^[0-9]+$/.test(e.key) ) {
      alert('{{ error_not_numeric_symbol }}');
    }
  });

  // Product
  $(document).delegate('input.post_product_name', 'focus', function (e){
    // let ul = $(this).siblings('ul.dropdown-menu')
    let index = $($(this).parents()[1]).attr('id').substr('product-row'.length);
    $(this).autocomplete({
      'minLength': 2,
      'source': function(request, response) {
        $.ajax({
          url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
          dataType: 'json',
          success: function(json) {
            response($.map(json, function(item) {
              return {
                label: item['name'],
                value: item['product_id'],
                index: index
              }
            }));
          }
        });
      },
      'select': function(item) {
        $('input.post_product_name').val(item.label);
        $('input.post_product_name').siblings('input').val(item.value);
        if($('tr#product-row'+item.index).find('td:last-child').find('.button-apply-advertising').length == 0) {
          $('tr#product-row' + item.index).find('td:last-child').append('<button type="button" row-index = "' + item.index + '" onclick="applyProduct($(this))" class="btn btn-success button-apply-advertising"><i class="fa fa-check"></i></button>')
        }
      }
    })
  });
  </script>


  <script type="text/javascript"><!--
  var publish_period_row = {{ publish_period_row }};

  function addPublishPeriod() {
	  html = '<tr id="special-row' + publish_period_row + '">';
	  html += '  <td class="text-left"><select name="post_publish_period[' + publish_period_row + '][customer_group_id]" class="form-control">';
    {% for customer_group in customer_groups %}
	  html += '      <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name|escape('js') }}</option>';
    {% endfor %}
	  html += '  </select></td>';
	  html += '  <td class="text-right"><input type="text" name="post_publish_period[' + publish_period_row + '][priority]" value="" placeholder="{{ entry_priority }}" class="form-control" /></td>';
	  html += '  <td class="text-left" style="width: 20%;"><div class="input-group date"><input type="text" name="post_publish_period[' + publish_period_row + '][date_start]" value="" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD" class="form-control" /><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span></div></td>';
	  html += '  <td class="text-left" style="width: 20%;"><div class="input-group date"><input type="text" name="post_publish_period[' + publish_period_row + '][date_end]" value="" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD" class="form-control" /><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span></div></td>';
	  html += '  <td class="text-left"><button type="button" onclick="$(\'#special-row' + publish_period_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	  html += '</tr>';

	  $('#special tbody').append(html);

	  $('.date').datetimepicker({
		  language: '{{ datepicker }}',
		  pickTime: false
	  });

	  publish_period_row++;
  }

  //--></script>
  <script type="text/javascript"><!--
  var image_row = {{ image_row }};

  function addImage() {
	  html = '<tr id="image-row' + image_row + '">';
	  html += '  <td class="text-left"><a href="" id="thumb-image' + image_row + '"data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="post_image[' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
	  html += '  <td class="text-right"><input type="text" name="post_image[' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
	  html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	  html += '</tr>';

	  $('#images tbody').append(html);

	  image_row++;
  }

  //--></script>


  <script type="text/javascript"><!--
  $('.date').datetimepicker({
	  language: '{{ datepicker }}',
	  pickTime: false
  });

  $('.time').datetimepicker({
	  language: '{{ datepicker }}',
	  pickDate: false
  });

  $('.datetime').datetimepicker({
	  language: '{{ datepicker }}',
	  pickDate: true,
	  pickTime: true
  });
  //--></script>
  <script type="text/javascript"><!--
  $('#language a:first').tab('show');
  $('#option a:first').tab('show');
  //--></script>
</div>
{{ footer }} 
