{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="{{ button_filter }}"
                        onclick="$('#filter-review').toggleClass('hidden-sm hidden-xs');"
                        class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
                <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i
                            class="fa fa-plus"></i></a>
                <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"
                        onclick="confirm('{{ text_confirm }}') ? $('#form-review').submit() : false;"><i
                            class="fa fa-trash-o"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">{% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div id="filter-review" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label" for="input-product">{{ entry_product }}</label>
                            <input type="text" name="filter_product" value="{{ filter_product }}"
                                   placeholder="{{ entry_product }}" id="input-product" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-author">{{ entry_author }}</label>
                            <input type="text" name="filter_author" value="{{ filter_author }}"
                                   placeholder="{{ entry_author }}" id="input-author" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-status">{{ entry_status }}</label>
                            <select name="filter_status" id="input-status" class="form-control">
                                <option value=""></option>


                                {% if filter_status == '1' %}









                                    <option value="1" selected="selected">{{ text_enabled }}</option>









                                {% else %}









                                    <option value="1">{{ text_enabled }}</option>









                                {% endif %}
                                {% if filter_status == '0' %}









                                    <option value="0" selected="selected">{{ text_disabled }}</option>









                                {% else %}









                                    <option value="0">{{ text_disabled }}</option>

                                {% endif %}

                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
                            <div class="input-group date">
                                <input type="text" name="filter_date_added" value="{{ filter_date_added }}"
                                       placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD"
                                       id="input-date-added" class="form-control"/>
                                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                        </div>
                        <div class="form-group text-right">
                            <button type="button" id="button-filter" class="btn btn-default"><i
                                        class="fa fa-filter"></i> {{ button_filter }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-md-pull-3 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-review">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center"><input type="checkbox"
                                                                                           onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/>
                                        </td>
                                        <td class="text-left">{% if sort == 'type' %} <a href="{{ sort_type }}"
                                                                                            class="{{ order|lower }}">{{ column_type }}</a> {% else %}
                                                <a href="{{ column_type }}">{{ column_type }}</a> {% endif %}</td>
                                        <td class="text-left">{% if sort == 'pd.name' %} <a href="{{ sort_product }}"
                                                                                            class="{{ order|lower }}">{{ column_product }}</a> {% else %}
                                                <a href="{{ sort_product }}">{{ column_product }}</a> {% endif %}</td>
                                        <td class="text-left">{% if sort == 'r.author' %} <a href="{{ sort_author }}"
                                                                                             class="{{ order|lower }}">{{ column_author }}</a> {% else %}
                                                <a href="{{ sort_author }}">{{ column_author }}</a> {% endif %}</td>
                                        <td class="text-right">{% if sort == 'r.rating' %} <a href="{{ sort_rating }}"
                                                                                              class="{{ order|lower }}">{{ column_rating }}</a> {% else %}
                                                <a href="{{ sort_rating }}">{{ column_rating }}</a> {% endif %}</td>
                                        <td class="text-left">{% if sort == 'r.status' %} <a href="{{ sort_status }}"
                                                                                             class="{{ order|lower }}">{{ column_status }}</a> {% else %}
                                                <a href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                                        <td class="text-left">{% if sort == 'r.date_added' %} <a
                                                    href="{{ sort_date_added }}"
                                                    class="{{ order|lower }}">{{ column_date_added }}</a> {% else %} <a
                                                    href="{{ sort_date_added }}">{{ column_date_added }}</a> {% endif %}
                                        </td>
                                        <td class="text-right">{{ column_action }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if reviews %}
                                        {% for review in reviews %}
                                            <tr>
                                                <td class="text-center">{% if review.review_id in selected %}
                                                        <input type="checkbox" name="selected[type][{{ review.row_id }}][]"
                                                               value="{{ review.row_id }}" checked="checked"/>
                                                    {% else %}
                                                        <input type="checkbox" name="selected[type][{{ review.type_index }}][]"
                                                               value="{{ review.row_id }}"/>
                                                    {% endif %}</td>
                                                <td class="text-left">{{ review.type }}</td>
                                                <td class="text-left">{{ review.name }}</td>
                                                <td class="text-left">{{ review.author }}</td>
                                                <td class="text-right">{{ review.rating }}</td>
                                                <td class="text-left">{{ review.status }}</td>
                                                <td class="text-left">{{ review.date_added }}</td>
                                                <td class="text-right"><a href="{{ review.edit }}" data-toggle="tooltip"
                                                                          title="{{ button_edit }}"
                                                                          class="btn btn-primary"><i
                                                                class="fa fa-pencil"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="7">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>

                                </table>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"><!--
        $('#button-filter').on('click', function () {
            url = 'index.php?route=catalog/review&user_token={{ user_token }}';

            var filter_product = $('input[name=\'filter_product\']').val();

            if (filter_product) {
                url += '&filter_product=' + encodeURIComponent(filter_product);
            }

            var filter_author = $('input[name=\'filter_author\']').val();

            if (filter_author) {
                url += '&filter_author=' + encodeURIComponent(filter_author);
            }

            var filter_status = $('select[name=\'filter_status\']').val();

            if (filter_status !== '') {
                url += '&filter_status=' + encodeURIComponent(filter_status);
            }

            var filter_date_added = $('input[name=\'filter_date_added\']').val();

            if (filter_date_added) {
                url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
            }

            location = url;
        });
        //--></script>
    <script type="text/javascript"><!--
        $('.date').datetimepicker({
            language: '{{ datepicker }}',
            pickTime: false
        });
        //--></script>
</div>
{{ footer }}