{{ header }}{{ column_left }}
<div id="content">
    <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
    <script type="text/javascript" src="view/javascript/summernote/lang/summernote-uk-UA.js"></script>
    <link type="text/css" href="view/javascript/summernote/summernote.css" rel="stylesheet" media="screen"/>
    <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-attribute" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}"
                   class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-attribute"
                      class="form-horizontal">


                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-filename"><span data-toggle="tooltip" title="">{{ text_attribute }}</span></label>
                        <div class="col-sm-5">
                            <div class="input-group">

                                <select name="name" class="form-control js-example-basic-single">
                                    {% for attribute in attributes %}

                                        <option value="{{ attribute.attributes_id }}-{{ attribute.value }}">
                                            {{ attribute.name }}
                                        </option>

                                    {% endfor %}

                                </select>


                            </div>
                        </div>
                    </div>


                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-filename"><span data-toggle="tooltip"
                                                                                         title="{{ help_filename }}">{{ entry_filename }}</span></label>
                        <div class="col-sm-5">
                            <div class="input-group">
                                <input type="text" name="filename" value="{{ filename }}"
                                       placeholder="{{ entry_filename }}" id="input-filename"
                                       class="form-control"/>
                                <span class="input-group-btn">
                <button type="button" id="button-upload" data-loading-text="{{ text_loading }}"
                        class="btn btn-primary"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                </span></div>
                            {% if error_filename %}
                                <div class="text-danger">{{ error_filename }}</div>
                            {% endif %}
                        </div>
                        <div class="col-sm-6" style="margin-left: 110px">

                            {% if filename != 'Немає стікеру' %}
                                <img width="45px" id="prev" height="45px" src="/image/sticker/{{ filename }}">
                            {% else %}
                                <img width="45px" id="prev" height="45px" src="/image/cache/no_image-100x100.png">
                            {% endif %}
                        </div>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-descr">{{ entry_description }}</label>
                        <div class="col-sm-10">
                            <textarea name="descr" placeholder="{{ entry_description }}" id="input-descr" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control summernote"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript"><!--


        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
        $('#button-upload').on('click', function () {
            $('#form-upload').remove();

            $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

            $('#form-upload input[name=\'file\']').trigger('click');

            if (typeof timer != 'undefined') {
                clearInterval(timer);
            }

            timer = setInterval(function () {
                if ($('#form-upload input[name=\'file\']').val() != '') {
                    clearInterval(timer);

                    $.ajax({
                        url: 'index.php?route=catalog/sticker/upload&user_token={{ user_token }}',
                        type: 'post',
                        dataType: 'json',
                        data: new FormData($('#form-upload')[0]),
                        cache: false,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $('#button-upload').button('loading');
                        },
                        complete: function () {
                            $('#button-upload').button('reset');
                        },
                        success: function (json) {
                            if (json['error']) {
                                alert(json['error']);
                            }

                            if (json['success']) {
                                alert(json['success']);

                                $("#prev").attr("src", "/image/sticker/" + json['filename']);

                                $('input[name=\'filename\']').val(json['filename']);
                                $('input[name=\'mask\']').val(json['mask']);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
            }, 500);
        });
        //--></script>
</div>
{{ footer }}