{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a> <a href="{{ repair }}" data-toggle="tooltip" title="{{ button_rebuild }}" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-service').submit() : false;"><i class="fa fa-trash-o"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
     <div class="panel panel-default">
       <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $text_list; ?></h3>
       </div>
       <div class="panel-body">
         <form action="<?php echo $delete; ?>" method="post" enctype="multipart/form-data" id="form-attribute">
           <div class="table-responsive">
             <table class="table table-bordered table-hover">
               <thead>
                 <tr>
                   <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                   <td class="text-left">#</td>
                   <td class="text-left">{{ column_name }}</td>
                   <td class="text-left">{{ column_action }}</td>
                 </tr>
               </thead>
               <tbody>
                 {% if attributes %}
                 {% for attribute in attributes %}
                 <tr>
                   <td class="text-center">
                       {{ attribute.id }}
                   </td>
                   <td class="text-left">{{ attribute.name }}</td>
                   <td class="text-left"><img class="preview-sticker" src="/image/sticker/{{ attribute.img }}"></td>
                   <td class="text-right">

                     <a href="{{ attribute.delete }}" data-toggle="tooltip" title="Видалити" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>

                   </td>
                 </tr>
                 {% endfor %}
                 {% else %}
                 <tr>
                   <td class="text-center" colspan="5"></td>
                 </tr>
                 {% endif %}
               </tbody>
             </table>
           </div>
         </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
       </div>
     </div>
   </div>
 </div>
{{ footer }}