<div class="consultation">
    <div class="consultation-item">
        <img src="images/Big Shoes Torso (1).png">
        <p>
            Потрібна консультація?
        </p>
    </div>
    <div class="consultation-item">
        <form name="consultation-form">
            <input type="" name="email" placeholder="E-mail">
            <input type="" name="phone" placeholder="Телефон">
            <input type="" name="client-name" placeholder="Як до вас звертатись?">
            <input type="hidden" name="enquiry" value="Потрібна ваша консультація">
            <input type="hidden" name="href" value="">
        </form>
        <button form="consultation-form" onclick="send_email($(this))">
            замовити дзвінок
        </button>
    </div>
</div>